<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="configFragment">
    <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">Default_Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi">
    <!-- (safari) 전화번호 형태로 된 문자열을 전화로 자동호출하지 못하게 함 -->
    <meta name="format-detection" content="telephone=no">
    <!-- favicon mobile -->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/images/favicon/apple-touch-icon.png}">
    <link rel="manifest" th:href="@{/images/favicon/site.webmanifest}">

    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/teacher_ver_m.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fullCalendar.min.css}">
    <!-- js -->
    <script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/fullCalendar.js}"></script>
    <script type="text/javascript" th:src="@{/js/fullCalendar_locale_ko.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/selection.min.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var authUrl = [[${@environment.getProperty('daekyo.server.auth')}]];
        /*]]>*/
    </script>

    <!-- jquery cookie -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <!--  Jwt Decoder  -->
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode@2.2.0/build/jwt-decode.min.js"></script>

    <!-- js datetime library(momentjs) -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/moment.min.js"></script>

    <script type="text/javascript" th:src="@{/js/common/common.js}"></script>
</head>
</html>
