<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="profile_top(teacherDetail)">

  <div class="bg_box">
    <!-- [D] image를 등록하면 img_box에 img를 넣어주세요.
      img_box에 img가 없으면 자동으로 기본이미지가 보여집니다.
      <img src="" alt="사용자 이미지">
    -->
    <div class="img_box">
      <img th:src="${teacherDetail.teacherImageUrl}">
    </div>
    <div class="type">
      <span class="icon_text_check on">책읽기</span>
      <span class="icon_text_check">독서코칭</span>
    </div>
  </div>
  <h3 class="primary_text"><span th:text="${teacherDetail.teacherName}"></span>선생님</h3>

  <div class="basic_box narrow intro">
    <th:block th:if="${teacherDetail.teacherIntroduce == null}">
      <textarea name="" class="intro_profile" cols="30" rows="2" readonly></textarea>
      <p class="placeholder">→ 선생님의 활동 경력이나 강점을 한 줄로 요약해서 설명해 주세요.<br>(공백 포함 40자 이내)</p>
    </th:block>
    <th:block th:if="${teacherDetail.teacherIntroduce != null}">
      <textarea name="" class="intro_profile" cols="30" rows="2" th:text="${teacherDetail.teacherIntroduce}" readonly></textarea>
    </th:block>

    <!-- [D] text length check가 되어야합니다 -->
    <p class="length_check">&lpar;<span>0</span>&sol;40&rpar;</p>
    <div class="btn_box introduce_btn_box">
      <button type="button" class="btn_edit_profile modify on">수정</button>
      <button type="button" class="btn_edit_profile cancle">취소</button>
      <button type="button" class="btn_edit_profile complete reg_introduce">저장</button>
    </div>
  </div>


</th:block>
</html>