<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidebarFragment">

    <!-- header -->
    <div id="header">
        <!-- header_bar -->
        <div class="header_bar">
            <div class="fl">
                <!-- [D] .btn_prev 페이지 뒤로가기 버튼에 class="hide"를 붙히면 display: none이 됩니다 -->
                <button type="button" class="btn_prev">
                    <img th:src="@{/images/ico_back.svg}" alt="뒤로가기">
                </button>
            </div>
            <h1 class="img_box">
                <img th:src="@{/images/logo_daekyo.svg}" alt="대교 상상 키즈 로고">
            </h1>
            <div class="fr">
                <button type="button" class="gnb_open">
                    <img th:src="@{/images/ico_menu.svg}" alt="메뉴 열기">
                </button>
            </div>
        </div>
        <!-- //header_bar -->

        <!-- gnb -->
        <div id="gnb">
            <div class="gnb_box gnb_logo">
                <div class="img_box">
                    <img th:src="@{/images/logo_daekyo_kids.svg}" alt="대교 상상 키즈 로고">
                </div>
            </div>

            <div class="gnb_box gnb_card">
                <a href="/visit_timetable" class="card visit_schedule">
                    <img th:src="@{/images/ico_clock.svg}" alt="방문시간표">
                    <span class="primary_text primary_text_s">
              방문시간표
            </span>
                </a>

                <a href="/management/apply" class="card visit_manage">
                    <img th:src="@{/images/ico_schedule.svg}" alt="방문관리">
                    <span class="primary_text primary_text_s">
              방문관리
            </span>
                </a>

                <a href="/set_schedule" class="card schedule_setting">
                    <img th:src="@{/images/ico_calendar.svg}" alt="스케줄 설정">
                    <span class="primary_text primary_text_s">
              스케줄 설정
            </span>
                </a>

                <a href="/income" class="card payment_log">
                    <img th:src="@{/images/ico_folder.svg}" alt="정산내역">
                    <span class="primary_text primary_text_s">
              정산내역
            </span>
                </a>

                <a href="/notice/list" class="card sidebar_notice">
                    <img th:src="@{/images/ico_list.svg}" alt="공지사항">
                    <span class="primary_text primary_text_s">
              공지사항
            </span>
                </a>

                <a href="/use_information/" class="card sidebar_question">
                    <img th:src="@{/images/ico_page.svg}" alt="자주묻는 질문">
                    <span class="primary_text primary_text_s">
              자주묻는 질문
            </span>
                </a>
            </div>

            <div class="gnb_box gnb_card">
                <a href="/profile/myPage" class="card my_profile">
                    <img th:src="@{/images/ico_profile.svg}" alt="My 프로필">
                    <span class="primary_text primary_text_s">
              My&nbsp;&nbsp;프로필
            </span>
                </a>

                <a href="/user/update_password" class="card password_change">
                    <img th:src="@{/images/ico_key.svg}" alt="비밀번호 변경">
                    <span class="primary_text primary_text_s">
              비밀번호 변경
            </span>
                </a>

                <a href="/user/login" class="card" id="logout">
                    <img th:src="@{/images/ico_logout.svg}" alt="로그아웃">
                    <span class="primary_text primary_text_s">
              로그아웃
            </span>
                </a>
            </div>

            <div class="gnb_box">
                <a th:href="@{/video/sample_video.mp4}" class="btn_movie">
                    <img th:src="@{/images/ico_play.svg}" alt="영상 바로가기">
                    <span class="primary_text primary_text_s">우동선생님, 이렇게 활동하세요!</span>
                </a>
            </div>
        </div>
        <!-- //gnb -->
    </div>
    <!-- //header -->
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '/side/scheduled',
                type: 'POST',
                success: function (result) {
                    if (result) {
                        $(".visit_schedule").attr("disabled", "disabled");
                        $(".visit_manage").attr("disabled", "disabled");
                        $(".payment_log").attr("disabled", "disabled");
                        $(".my_profile").attr("disabled", "disabled");
                    }
                },

            })

            // 공통 AMR gnb 열기/닫기
            $('.gnb_open').on('click', function (e) {
                e.stopPropagation();
                handleGndClose();

                $('body').addClass('gnb_backdrop');
                $('#gnb').addClass('show');
                setTimeout(function () {
                    $('#gnb').addClass('on');
                }, 100);

                // gnd 닫기
                function handleGndClose() {
                    // gnb에서 클릭 시 버블링 막기
                    $('#gnb').on('click', function (e) {
                        e.stopPropagation();
                    })

                    // gnb를 제외한 body를 클릭
                    $('body').on('click', function (e) {
                        if ($('body').hasClass('gnb_backdrop')) {
                            $('#gnb').removeClass('on');
                            setTimeout(function () {
                                $('#gnb').removeClass('show');
                                $('body').removeClass('gnb_backdrop');
                            }, 200);
                        }
                    })
                }
            });

            $(".btn_prev").on("click", function () {
                window.history.back();
            })

        });
        </script>
</th:block>
</html>
