@charset "utf-8";
/* MINDsLab. YMJ. 20190830 */

/* [reset css] */
* {font-family:"NanumSquareRound", sans-serif; font-size:14px; font-weight: 400;color: #414853; box-sizing: border-box; letter-spacing: -0.5px;}
html,body {margin:0; padding:0; line-height:20px; background:none;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,label,textarea,p,blockquote,th,td,legend,em,span,button {margin:0; padding:0;}
table {border-spacing:0; border-collapse:collapse;}
th, td {word-break:break-all;}
form,fieldset {display:block;}
form,fieldset,img {border:none;} 
address,caption,cite,code,dfn,em,th,var {font-style:normal; font-weight:400;} 
ol,ul,li {list-style:none;} 
abbr,acronym {border:none;} 
hr {display:none;}
a {text-decoration:none; cursor:pointer; -webkit-tap-highlight-color:transparent; user-select: none;}
a:link,a:visited {text-decoration:none;}
a:hover,a:active,a:focus {text-decoration:none;}
a[disabled] {pointer-events: none!important;}
textarea {overflow:auto; resize: none; -webkit-appearance:none; -moz-appearance:none; appearance:none;} 
html:first-child select {min-height:20px;} /* opera 9 & below fix */ 
option {padding-right:6px;} /* firefox fix */
legend {position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;} /* for screen reader */ 
pre {word-wrap:break-word;}
br {background:none !important;}
img {vertical-align:top;}
a:focus, input:focus, textarea:focus {outline:none !important;}
button {margin: 0px; border: none; cursor:pointer; background: none; outline: none; -webkit-tap-highlight-color:transparent;}
label {-webkit-tap-highlight-color:transparent;}

/* input 기본 스타일 초기화 */
button:focus {outline:none;}
button::-moz-focus-inner {border:0;}
input {-webkit-appearance:none; -moz-appearance:none; appearance:none; border: none; 	border-radius:0; /* safari 둥근모서리 제거 */ font-size: 16px;}
/* input type number 에서 화살표 제거 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {margin:0; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
input[type=number] {-moz-appearance:textfield;}
input[type=text]:-ms-clear {display:none;}
input[type=text]::-ms-clear {display:none;}
input {filter:none;}
input:-webkit-autofill{box-shadow: 0 0 0 30px none inset; -webkit-text-fill-color:#000;} 
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active{transition:background-color 5000s ease-in-out 0s; }
input:focus{outline:none;}
input[type="checkbox"] {position: absolute; top: 0; left: 0; width: 0; height: 0; line-height: 0;}

input[readonly] + label {pointer-events: none;}

/* Select box 스타일 초기화 */ 
select {-webkit-appearance:none; -moz-appearance:none; appearance:none;}
select:focus, select:active{outline:none;}
select::-ms-expand {display:none;}