<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="thymeleaf/layout/default">
<head>
  <title>독후활동보기</title>
</head>

<body layout:fragment="content">
  <div id="wrap">
    <!-- m_container -->
    <div id="m_container">
      <!-- reading_after -->
      <div class="reading_after">
        <h2 class="page_title">독후활동 보기</h2>
        <!-- book_list -->
        <ul class="book_list">
          <!-- book -->
          <th:block th:each="bookafter : ${bookafterList}">
          <li class="book" th:data-id="${bookafter.bookafterId}">
            <div class="img_box">
              <!-- [D] 
                이미지 미등록 시 보여지는 기본이미지
                img_book2x_d1.png
                
                이미지 등록 시에는 아래 두군데 모두 같은 이미지로 바뀌어야 합니다.
                .book_list > .book > .img_box > img
                #view_after_reading > cont_box > img_box > img
              -->
              <img class="image_box" th:id="${bookafter.bookafterId}">
            </div>
            <div class="desc">
              <span class="desc_title" th:text="${bookafter.bookafterTitle}"></span>
              <div class="like">
                <span th:text="${bookafter.bookafterFavoriteCnt}"></span>
              </div>
            </div>
            <a href="#view_after_reading" class="alert_open bookafter_view"
               th:data-title="${bookafter.bookafterTitle}"
               th:data-content="${bookafter.bookafterContent}"
               th:data-name="${bookafter.realName}"
               th:data-reg_date="${bookafter.regDate}"
               th:data-update="${bookafter.updateYn}"
               th:data-favorite="${bookafter.bookafterFavoriteCnt}"
               th:data-image="${bookafter.bookafterImage}"
               th:data-audio="${bookafter.bookafterAudio}">
              <span class="text_invisible">독후활동 상세보기</span>
            </a>
          </li>
          </th:block>
        </ul>
        <!-- //book_list -->
      </div>
      <!-- //reading_after -->
    </div>
    <!-- //m_container -->
  </div>
  <!-- //wrap -->

  <!-- layer alert -->
  <!-- 독후활동상세보기 -->
  <div id="view_after_reading" class="alert_box alert_pop">
    <div class="lyr_cont">
      <div class="title_box">
        <span class="title">독후활동 상세보기</span>
      </div>

      <div class="cont_box">
        <div class="img_box">
          <!-- [D] 
            이미지 미등록 시 보여지는 기본이미지
            img_book2x_d2.png
            
            이미지 등록 시에는 아래 두군데 모두 같은 이미지로 바뀌어야 합니다.
            .book_list > .book > .img_box > img
            #view_after_reading > cont_box > img_box > img
          -->
          <img id="image" class="image_box">
        </div>

        <!-- audio_player -->
        <div class="audio_player">
          <div class="button-items">
          </div>
        </div>
        <!-- //audio_player -->

        <!-- book -->
        <div class="book">
          <div class="like">
            <div class="fl info">
              <span id="name"></span>
              <em id="reg_date"></em>
              <!-- [D] 추가 AMR 200914 수정됨 문구 -->
              <span id="update" class="hide">&lpar;수정됨&rpar;</span>
            </div>
            <span id="favorite_cnt"></span>
          </div>

          <div class="desc">
            <span id="title" class="desc_title"></span>
            <p id="content">.</p>
          </div>
        </div>
        <!-- ///book -->
      </div>
    </div>

    <div class="lyr_btm">
      <button type="button" class="alert_close">닫기</button>
    </div>
  </div>
  <!-- //독후활동상세보기 -->
  <!-- //layer alert -->

<!-- 공통 script -->
  <th:block th:fragment="script">
    <script type="text/javascript">
      $(document).ready(function(){

        let baseAudio = "/images/default/voice_thumbnail.webp";
        let baseImage = "/images/default/image_thumbnail.webp";

        $(".book_list .book").each(function (index, value) {
          var imageUrl = $(this).find(".alert_open").data("image");
          var audioUrl = $(this).find(".alert_open").data("audio");

          if (imageUrl != null) {
            $(this).children($("#" + $(this).data("id")).attr("src", imageUrl));
          } else if (imageUrl == null && audioUrl == null) {
            $(this).children($("#" + $(this).data("id")).attr("src", baseImage));
          } else {
            $(this).children($("#" + $(this).data("id")).attr("src", baseAudio));
          }

        })

        $(".bookafter_view").on("click", function () {
          console.log("aaaaa")
          $(this).delay(1000);
        })

  // 공통 200810 AMR 얼럿 레이어 열기/닫기
  $('.alert_open').on('click', function(e){
    $("#title").html($(this).data("title"))
    $("#content").html($(this).data("content"))
    $("#name").html($(this).data("name"))
    $("#favorite_cnt").html($(this).data("favorite"))
    $("#reg_date").html($(this).data("reg_date"))
    if ($(this).data("update") == 'Y') {
      $("#update").removeClass("hide")
    } else {
      $("#update").addClass("hide")
    }

    if ($(this).data("image") == null && $(this).data("audio") == null) {
      $("#image").attr("src", baseImage)
    } else if ($(this).data("image") == null && $(this).data("audio") != null) {
      $("#image").attr("src", baseAudio)
      audioItem = $(this).data("audio");
      var audioDuration = audioItem.duration;
      var audioRoundDuration = Math.ceil(audioDuration)
      $(".button-items").html(`
            <audio id="sound">
              <source id="audio" src=` + audioItem + `>
            </audio>

            <div class="controls">
              <button type="button" id="play" style="display: block;">
              </button>
              <button type="button" id="pause" style="display: none;">
              </button>
            </div>
            <div class="audio_timer">
              <div class="audio_loading"><span class="text_invisible">로딩중</span></div>
              <span id="timer">0&colon;00</span>
            </div>
            <div id="slider" class="slider">
              <div id="elapsed" class="elapsed"></div>
            </div>
            <span id="timer_endtime"></span>
      `)

        handleAudio()

    } else {
      $("#image").attr("src", $(this).data("image"))
    }

    if ($(this).data("audio") == null) {
      $(".audio_player").addClass("hide");
    } else {
      $(".audio_player").removeClass("hide");
    }

    var thisHref = $(this).attr('href');

    e.stopPropagation();
    handleLyrClose(); //레이어 닫기

    $('body').addClass('lyr_backdrop'); //body에 백그라운드 적용
    $(thisHref).css({'display': 'block'}); //클릭한 a의 href와 동일한 레이어만 block

    setTimeout(function(){
      $(thisHref).addClass('on') //레이어 오픈 효과 적용
    }, 100);
  })

  // 공통 얼럿 레이어 닫기
  function handleLyrClose() {
    // 레이어 닫기버튼 클릭
    $('.alert_close').on('click', function(){
      $('.alert_box').removeClass('on');

      setTimeout(function(){
        $('body').removeClass('lyr_backdrop');
        $('.alert_box').css({'display': 'none'});
        $('.alert_close').off('click');
      }, 200);
    })
  }

  // 공통 수정 200819 AMR input이 focus되어 있을 때 스크롤을 하면 가상키보드가 닫힘
  $('input').focus(function(){
    handleInputKeyboard($('#m_container'), $(document));
    handleInputKeyboard($('.lyr_box, .alert_box, .lyr_backdrop'), $('.lyr_box, .alert_box, .lyr_backdrop'));
  });

  function handleInputKeyboard(touchStartEl, touchEndEl) {
    touchStartEl.on('touchstart', function (e) {
      touchEndEl.on('touchmove touchend', function (e) {
        touchEndEl.off('touchmove touchend');
        $('input').blur();
      });
    });
  }

  // 공통 NBR tap list 열기/닫기
  function handleTapList() {
    var setBtn = $('.set_btn_box li');
    var setCont = $('.set_board > div');
    setCont.hide();
    setCont.eq(0).show();
    setBtn.on('click', function () {
      var target = $(this);
      var index = target.index();
      setBtn.removeClass('on');
      target.addClass('on');
      setCont.css('display', 'none');
      setCont.eq(index).css('display', 'block');
    });
  }
  handleTapList();

  // 공통 AMR 200810 bg_effect를 가진 button과 a가 active되면 background 디자인 적용
  $('button.bg_effect, a.bg_effect').on('touchstart touchend', function () {
    $(this).toggleClass('on');
  });
})

  // AMR 200824 오디오 파일의 총시간/진행된시간 표시, 레이어 닫을 때 오디오 상태 변경 함수
  function handleAudio(){
    var audioElement = document.getElementById('sound');

    audioElement.addEventListener('canplay', function(){
      var audioDuration = audioElement.duration;
      var audioRoundDuration = Math.ceil(audioDuration)
      $("#timer_endtime").text(createAudioTimeFormat(audioRoundDuration));//오디오의 총 시간표시
    });

    audioElement.addEventListener("timeupdate", function () {//오디오의 진행된 시간표시
      var audioCurrentTime = audioElement.currentTime;
      var audioParseCurrentTime = Math.ceil(audioCurrentTime)
      $('.audio_timer').removeClass('loading');
      $("#timer").text(createAudioTimeFormat(audioParseCurrentTime));
    });

    audioElement.addEventListener('ended', function () {//오디오가 끝나면 처음 시간으로 돌아감
      $('#pause').css({'display': 'none'});
      $('#play').css({'display': 'block'});
      audioElement.currentTime = 0
    });

    //오디오 총시간/진행된시간 포맷팅
    function createAudioTimeFormat(sec){
      var minutes = Math.floor(sec/60);
      var second = String(sec%60)
      if ( second.length === 1 ) {
        second = '0' + second;
      }
      return minutes + ':' + second
    }

    // play 버튼 이벤트
    $('#play').click(function () {
      $(this).css({'display': 'none'});
      $('#pause').css({'display': 'block'});
      $('.audio_timer').addClass('loading');
      audioElement.play();
    });

    // pause 일시정지 버튼 이벤트
    $('#pause').click(function () {
      $(this).css({'display': 'none'});
      $('#play').css({'display': 'block'});
      audioElement.pause();
    });

    // 얼럿레이어를 닫으면 오디오 세팅 초기화
    $('.alert_close').on('click', function(){
      audioElement.pause();
      audioElement.currentTime = 0
      $('#play').css({'display': 'block'});
      $('#pause').css({'display': 'none'});
    })
  };
    </script>
  </th:block>
</body>
</html>