<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="thymeleaf/layout/default">
<head>
    <title>책장보기</title>
</head>

<body layout:fragment="content">
<div id="wrap">
    <!-- m_container -->
    <div id="m_container">
        <div class="view_book">
            <h2 class="page_title"><em th:text="${bookList.getChildName()}"></em>의 책장 <span class="primary_text_s">(<em id="bookListCnt" th:text="${bookList.getBookList().size()}"></em>/전체<em id="totalBookCnt" th:text="${bookList.getBookList().size()}"></em>)</span></h2>

            <div class="srch_box">
                <input id="searchBook" type="text" placeholder="찾고 싶은 책 이름을 입력해주세요." class="input_text" onkeyup="filter()">
                <button type="button"><span class="text_invisible">검색하기</span></button>
            </div>

            <!-- [D] a > span 이 들어가야 체크이미지가 보여집니다 -->
            <ul class="set_btn_box">
                <li class="on"><a class="all_book"><span>전체 보기</span></a></li>
                <li><a class="readed_book"><span>읽은 책 보기</span></a></li>
                <li><a class="not_readed_book"><span>읽지 않은 책 보기</span></a></li>
            </ul>

            <div class="set_board">
                <div class="card_box">
                    <div class="card_list">
                        <!-- card -->
                        <th:block th:each="book : ${bookList.getBookList()}">
                            <!-- card_info -->
                        <div class="card" th:disabled="${book.readInfo == null || book.readInfo.readDate == null} ? disabled" th:data-id="${book.id}" th:data-book_id="${book.bookId}" th:data-user_id="${book.userId}" th:data-child_id="${book.childId}">
                            <th:block th:if="${book.readInfo != null}">
                                <th:block th:if="${book.readInfo.readDate != null}">
                                    <div class="card_info">
                                        <span class="read_ico">읽은 날짜</span>
                                        <span class="requested_date" th:text="|${#strings.substring(book.readInfo.readDate, 0 , 4)}-${#strings.substring(book.readInfo.readDate, 4, 6)}-${#strings.substring(book.readInfo.readDate, 6, 8)}|"></span>
                                        <div class="status_box">
                                            <span class="readed">읽었어요</span>
                                        </div>
                                    </div>
                                </th:block>
                                <th:block th:unless="${book.readInfo.readDate != null}">
                                    <div class="card_info">
                                        <span class="read_ico">읽은날짜</span>
                                        <span class="requested_date">-</span>
                                        <div class="status_box">
                                            <span class="readed">읽었어요</span>
                                        </div>
                                    </div>
                                </th:block>
                            </th:block>
                            <th:block th:unless="${book.readInfo != null}">
                                <div class="card_info">
                                    <span class="read_ico">읽은날짜</span>
                                    <span class="requested_date">-</span>
                                    <div class="status_box">
                                        <span class="readed">읽었어요</span>
                                    </div>
                                </div>
                            </th:block>
                            <div class="book_info">
                                <th:block th:if="${book.readInfo != null}">
                                    <th:block th:if="${book.readInfo.interest == true}">
                                        <span class="book_title book_interest_true" th:text="${book.title}"></span>
                                        <span th:text="${book.publisher}"></span>
                                    </th:block>
                                    <th:block th:if="${book.readInfo.interest != true}">
                                        <span class="book_title book_interest" th:text="${book.title}"></span>
                                        <span th:text="${book.publisher}"></span>
                                    </th:block>
                                </th:block>
                                <th:block th:if="${book.readInfo == null}">
                                    <span class="book_title book_interest" th:text="${book.title}"></span>
                                    <span th:text="${book.publisher}"></span>
                                </th:block>
                            </div>
                            <!-- //book_info -->

                            <div class="flex_box btn_box card_on_hidden">
                                <div type="button" id="bookafterAlert"><a href="#register_after_reading" class="alert_open bg_effect btn_line_primary">독후활동 등록</a></div>
                                <div><a th:href="@{/book_shelf/bookafter/{scheduleId}(scheduleId=${book.getId()})}"  class="bg_effect btn_line_primary" th:disabled="${book.bookAfterCnt == 0} ? disabled">독후활동 보기</a></div>
                            </div>
                        </div>
                        </th:block>
                        <div class="card hide zero_list">
                            <p><em id="search_word"></em>을(를) 포함한 제목의 책이 없습니다.</p>
                        </div>
                        <div class="card hide read_or_not_list">
                            <p><span class="read_or_not"></span> 책이 없습니다.</p>
                        </div>
                        </div>
                        <!-- //card -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //m_container -->
</div>
<!-- //wrap -->

<!-- layer alert -->
<!-- 독후활동등록 -->
<div id="register_after_reading" class="alert_box alert_pop">
    <div class="lyr_cont">
        <div class="title_box">
            <span class="title">독후활동 작성하기</span>
        </div>

        <div class="cont_box">
            <form id="bookafter_form">
            <!-- book_info -->
            <div class="book_info">
                <span class="book_title">무엇이 세상에서 가장 클까요?</span>
                <span>대교 소빅스</span>
            </div>
            <!-- //book_info -->
            <input id="title" type="text" name="title" placeholder="독후활동 제목을 입력해주세요." maxlength="12">

            <!-- [D] 추가 AMR 200914 1000자 체크가 되어야 합니다. -->
            <textarea name="content" id="content" cols="10" rows="7" placeholder="독후활동 내용을 띄어쓰기 포함 1000자 이내로 입력해주세요." maxlength="1000"></textarea>

            <div class="upload_box">
                <!-- [D] 추가 AMR 200914 업로드 안내 문구 -->
                <p class="upload_info">음성파일 등록 시<br>5MB 이하로 제한</p>
                <div class="upload_file">
                    <!-- [D] 파일을 선택하면 label class에 'on' 이 추가되면서 비활성화 디자인이 됩니다
                      파일은 총 2개 (이미지파일 1개 오디오파일 1개) 만 추가 가능합니다.
                      파일을 추가하면 .upload_list에 표시됩니다.
                    -->
                    <input type="file" accept="image/*" id="file1" class="invisible input_file_image">
                    <label for="file1"><span class="text_invisible">갤러리에서 사진고르기</span></label>
                    <input type="file" accept="image/*" capture="camera" id="file2" class="invisible input_file_image">
                    <label for="file2"><span class="text_invisible">카메라로 사진찍기</span></label>
                    <input type="file" accept="audio/*" id="file3" class="invisible input_file_voice">
                    <label for="file3"><span class="text_invisible">녹음하기</span></label>
                </div>

                <div class="upload_list">
                    <div class="image_file"></div>
                    <div class="voice_file"></div>
                </div>

                <!-- [D] 추가 AMR 200914 'hide' class를 추가하면 dispaly: none 이 됩니다. -->
                <p id="overSize" class="primary_text_s t_warning hide"><em>5MB</em> 이내의 파일을 등록해주세요.</p>
                <!-- [D] 추가 AMR 201110 'hide' class를 추가하면 dispaly: none 이 됩니다. -->
                <p id="allBlank" class="primary_text_s t_warning hide"><em>독후활동 내용</em>을 작성해주세요.<br>(텍스트, 사진, 음성 중 1개 이상)</p>
            </div>
            </form>
        </div>

    </div>

    <div class="lyr_btm">
        <div class="dual_box">
            <div>
                <button type="button" class="alert_close">취소</button>
            </div>
            <div>
                <button id="bookafter_regist" type="button">등록</button>
            </div>
        </div>
    </div>
    <input id="schedule_id" hidden th:value="${scheduleId}">
</div>
<!-- //독후활동등록 -->
<!-- //layer alert -->
<th:block layout:fragment="script">

<script type="text/javascript">

    $(".btn_line_primary").on("click", function () {
        $("#bookafter_form").css("display", "block");
    })

    $('#title').keyup(function(){

        if ($(this).val().length > $(this).attr("maxlength")) {
            $(this).val($(this).val().substr(0, $(this).attr("maxlength")));

        }

    });

    function filter() {

        $(".read_or_not_list").addClass("hide")

        var value, name, item, i;
        let cnt = 0;
        let totalCnt = $("#totalBookCnt").html();

        value = document.getElementById("searchBook").value.toUpperCase();
        item = document.getElementsByClassName("book_info");

        for(i=0;i<item.length;i++){
            name = item[i].getElementsByClassName("book_title");
            if(name[0].innerHTML.toUpperCase().indexOf(value) > -1){
                item[i].parentNode.style.display = "block";
                cnt = cnt + 1;
            }else{
                item[i].parentNode.style.display = "none";
            }
        }

        if (cnt == 0) {
            $(".zero_list").removeClass("hide")
            $("#search_word").html("'" + value + "'")
        } else {
            $(".zero_list").addClass("hide")
        }

        if (cnt > totalCnt) {
            cnt = totalCnt;
        }

        $("#bookListCnt").html(cnt);
    }

    $(".readed_book").on("click", function () {
        $(".zero_list").addClass("hide")

        var value, name, item, i;
        let cnt = 0;
        var ment = "읽은"

        value = "-"
        item = document.getElementsByClassName("card_info");

        for(i=0;i<item.length;i++){
            name = item[i].getElementsByClassName("requested_date");
            if(name[0].innerHTML != value){
                item[i].parentNode.style.display = "block";
                cnt = cnt + 1;
            }else{
                item[i].parentNode.style.display = "none";
            }
        }

        if (cnt == 0) {
            $(".read_or_not_list").removeClass("hide")
            $(".read_or_not").html(ment)
        } else {
            $(".read_or_not_list").addClass("hide")
        }

        $("#bookListCnt").html(cnt);

    })

    $(".not_readed_book").on("click", function () {
        $(".zero_list").addClass("hide")
        var value, name, item, i;

        value = "-";
        let cnt = 0;
        var ment = "읽지 않은"
        item = document.getElementsByClassName("card_info");

        for(i=0;i<item.length;i++){
            name = item[i].getElementsByClassName("requested_date");
            if(name[0].innerHTML == value){
                item[i].parentNode.style.display = "block";
                cnt = cnt + 1;
            }else{
                item[i].parentNode.style.display = "none";
            }
        }

        if (cnt == 0) {
            $(".read_or_not_list").removeClass("hide")
            $(".read_or_not").html(ment)
        } else {
            $(".read_or_not_list").addClass("hide")
        }

        $("#bookListCnt").html(cnt);

    })

    $(".all_book").on("click", function () {
        $(".zero_list").addClass("hide")
        $(".read_or_not_list").addClass("hide")
        var value, name, item, i;

        item = document.getElementsByClassName("card_info");

        for(i=0;i<item.length;i++){
            name = item[i].getElementsByClassName("requested_date");
            item[i].parentNode.style.display = "block";
        }
        $("#bookListCnt").html(item.length);
    })

    let scheduleId = $("#schedule_id").val();
    let bookcaseId;
    let childId;
    let userId;
    let bookId;
    let imageFile;
    let audioFile;
    let title;
    let content;

    $("input[type=file]").on('change', function () {
        let file = $(this).get(0).files[0];
        if (file.size > 5242880 ) {
            $(".t_warning").addClass("hide")
            $("#overSize").removeClass("hide")
            file.remove();
            return;
        }
        if ($(this).parent("div").context.id == "file1" || $(this).parent("div").context.id == "file2"){
            imageFile = file;
        } else {
            audioFile = file;
        }
    })


    $("#bookafter_regist").on("click", function (e) {

        title = $("#title").val();
        content = $("#content").val()

        if (title == '' || (content == null && imageFile == null && audioFile == null)) {
            $(".t_warning").addClass("hide")
            $("#allBlank").removeClass("hide")
            return;
        }

        let form = new FormData()

        if (imageFile != null) {
            form.append("image", imageFile);
        }
        if (audioFile != null) {
            form.append("audio", audioFile);
        }

        form.append('scheduleId', scheduleId);
        form.append('bookcaseId', bookcaseId);
        form.append('childId', childId);
        form.append('userId', userId);
        form.append('bookId', bookId);
        form.append('bookafterPrivateYn', 'Y');
        form.append('bookafterTitle', title);
        form.append('bookafterContent', content);

        $.ajax({
            url: '/book_shelf/add/bookafter',
            type: 'POST',
            data: form,
            contentType: false,
            processData: false,
            cache: false,
            enctype: "multipart/form-data",
            success: function (result) {
                title = null;
                content = null;
                location.reload(true);
            },
            error: function (error) {
                location.reload(true);
            }

        })
    })

    $(document).ready(function(){
        // 공통 200810 AMR 얼럿 레이어 열기/닫기
        $('.alert_open').on('click', function(e){

            bookcaseId = $(this).closest(".card").data("id");
            bookId = $(this).closest(".card").data("book_id");
            userId = $(this).closest(".card").data("user_id");
            childId = $(this).closest(".card").data("child_id");

            var thisHref = $(this).attr('href');

            e.stopPropagation();
            handleLyrClose(); //레이어 닫기

            $('body').addClass('lyr_backdrop'); //body에 백그라운드 적용
            $(thisHref).css({'display': 'block'}); //클릭한 a의 href와 동일한 레이어만 block

            setTimeout(function(){
                $(thisHref).addClass('on') //레이어 오픈 효과 적용
            }, 100);
        })

        // 공통 얼럿 레이어 닫기
        function handleLyrClose() {
            // 레이어 닫기버튼 클릭
            $('.alert_close').on('click', function(){
                $('.alert_box').removeClass('on');

                setTimeout(function(){
                    $('body').removeClass('lyr_backdrop');
                    $('.alert_box').css({'display': 'none'});
                    $('.alert_close').off('click');
                }, 200);
            })
        }

        // 공통 수정 200819 AMR input이 focus되어 있을 때 스크롤을 하면 가상키보드가 닫힘
        $('input').focus(function(){
            handleInputKeyboard($('#m_container'), $(document));
            handleInputKeyboard($('.lyr_box, .alert_box, .lyr_backdrop'), $('.lyr_box, .alert_box, .lyr_backdrop'));
        });

        function handleInputKeyboard(touchStartEl, touchEndEl) {
            touchStartEl.on('touchstart', function (e) {
                touchEndEl.on('touchmove touchend', function (e) {
                    touchEndEl.off('touchmove touchend');
                    $('input').blur();
                });
            });
        }

        // 공통 NBR tap list 열기/닫기
        function handleTapList() {
            var setBtn = $('.set_btn_box li');
            var setCont = $('.set_board > div');
            setCont.hide();
            setCont.eq(0).show();
            setBtn.on('click', function () {
                var target = $(this);
                var index = target.index();
                setBtn.removeClass('on');
                target.addClass('on');
            });
        }
        handleTapList();

        // 공통 AMR 200810 bg_effect를 가진 button과 a가 active되면 background 디자인 적용
        $('button.bg_effect, a.bg_effect').on('touchstart touchend', function () {
            $(this).toggleClass('on');
        });

        //AMR 선택한 파일을 .upload_list에 입력 및 디자인 effect add
        $('.upload_file input[type="file"]').change(function (e) {
            var fileName = e.target.files[0].name;

            if ( $(this).hasClass('input_file_image') ) {
                $(".input_file_image").attr("readonly", true);
                $('.input_file_image').next('label').addClass('on')
                $('.upload_list .image_file').html(
                    '<span>'+ fileName +'</span>\n' +
                    '<button type="button"><span class="text_invisible">파일 삭제</span></button>\n'
                )
            } else if ( $(this).hasClass('input_file_voice') ) {
                $(".input_file_voice").attr("readonly", true);
                $('.input_file_voice').next('label').addClass('on')
                $('.upload_list .voice_file').html(
                    '<span>'+ fileName +'</span>\n' +
                    '<button type="button"><span class="text_invisible">파일 삭제</span></button>\n'
                )
            }

            //AMR 파일 x 버튼을 누르면 파일 삭제 및 디자인 effect remove
            $('.upload_list button').on('click', function(){
                if ( $(this).parent().hasClass('image_file') ) {
                    imageFile = null;
                    $('.input_file_image').val('')
                    $('.input_file_image').next('label').removeClass('on')
                    $(".input_file_image").attr("readonly", false);
                } else if ( $(this).parent().hasClass('voice_file') ) {
                    audioFile = null;
                    $('.input_file_voice').val('')
                    $('.input_file_voice').next('label').removeClass('on')
                    $(".input_file_voice").attr("readonly", false);
                }
                $(this).parent().html('')
            })
        });

    })
</script>
</th:block>
</body>
</html>