<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>email search id</title>
</head>
<body>
  <!-- 우동선생님 img는 절대주소로 변경부탁드립니다 -->
  <div style="margin: 24px 24px 36px 24px; letter-spacing: -0.5px; font-family: sans-serif;">
    <img th:src="${logo}" alt="대교 우동선생님 로고" style="width: 160px;">
    <h1 style="margin: 70px 0 0 0; padding: 0 0 24px 0; border-bottom: 1px solid #e3e8eb; font-size: 36px; font-weight: bold; color: #414853; letter-spacing: -1.5px;">선생님 코드 찾기</h1>
    <span style="display: block; margin: 50px 0 0 0; font-size: 25px; font-weight: normal; color: #414853; letter-spacing: -1px;">우동선생님, 안녕하세요!</span>
    <span style="display: block; margin: 16px 0 0 0; font-size: 16px; font-weight: lighter; color: #414853;">요청하신 선생님 코드를 안내해 드립니다.</span>
    <h2 style="margin: 50px 0 70px 0; font-size: 36px; font-weight: bold; color: #414853; letter-spacing: -1.5px;" th:text="${id}"></h2>
    <p style="line-height: 16px; font-size: 12px; font-weight: lighter; color: #707070;">본 메일은 이메일 수신 동의하에 발송되었습니다.<br>
      문의사항은 <strong>카카오톡</strong> 또는 <strong>관리자(02-829-1307)</strong>에게 연락 바랍니다.
    </p>
  </div>
</body>
</html>