<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="thymeleaf/layout/default">
<head>
  <title>마이 프로필</title>
</head>

<body layout:fragment="content">
  <div id="wrap">
    <!-- m_container -->
    <div id="m_container">
      <div class="user_profile">
        <h2 class="page_title">My 프로필</h2>

        <ul class="set_btn_box">
          <li class="on profile_introduce"><a href="#none">선생님 소개</a></li>
          <li class="profile_visit_review"><a href="#none">방문일지&amp;리뷰</a></li>
          <li class="profile_basic_info"><a href="#none">기본 정보</a></li>
        </ul>


        <div class="set_board">
          <!-- 첫번째 -->
          <div class="setting">

            <th:block th:replace="thymeleaf/fragments/profile_top :: profile_top(${teacherDetail})"></th:block>

            <div class="flex_box three">
              <div class="basic_box">
                <!-- [D] 활동시간, 별점, 리뷰 모두 초기값은 0입니다. <em>0</em> -->
                <span class="icon_title clock">활동시간</span>
                <div class="mark">
                  <em th:text="${teacherDetail.classTime}"></em><span>h</span>
                </div>
              </div>
              <div class="basic_box">
                <span class="icon_title star">별점</span>
                <div class="mark">
                  <em th:text="${teacherDetail.reviewRate}"></em><span>/5</span>
                </div>
              </div>
              <div class="basic_box">
                <span class="icon_title bubble">리뷰</span>
                <div class="mark">
                  <em th:text="${teacherDetail.reviewCnt}"></em>
                </div>
              </div>
            </div>

            <div class="basic_box flex_box two">
              <div>
                <span class="icon_title awards">활동관련<br>자격증</span>
              </div>
              <div class="awards_list">
                <p th:each="certificate : ${teacherCertificateList}"><span>- <span th:text="${certificate.certificate}"></span></span></p>
              </div>
            </div>

            <div class="basic_box">
              <div class="title">
                <span class="icon_title keyword">활동 키워드</span>
                <div class="btn_box">
                  <button type="button" class="btn_edit_profile modify on">수정</button>
                  <button type="button" class="btn_edit_profile cancle">취소</button>
                  <button type="button" id="activity_update_btn" class="btn_edit_profile complete">저장</button>
                </div>
              </div>

              <div class="notice">
                <span class="notice_text">&quot;자신있는 활동과 나의 성향을 모두 선택해주세요.&quot;</span>
              </div>

              <dl class="dl_checkbox">
                <dt>&ast; 자신있는 활동</dt>
                <dd class="icon_checkbox activity_checkbox">
                  <input type="checkbox" class="CD011" name="" id="check1-1" readonly>
                  <label for="check1-1">책놀이</label>
                  <input type="checkbox" class="CD011" name="" id="check1-2" readonly>
                  <label for="check1-2">책읽기</label>
                  <input type="checkbox" class="CD011" name="" id="check1-3" readonly>
                  <label for="check1-3">독후활동</label>
                </dd>
              </dl>

              <dl class="dl_checkbox">
                <dt>&ast; 나의 성향</dt>
                <dd class="hashtag_checkbox activity_checkbox">
                  <input type="checkbox" class="CD012" name="" id="check2-1" readonly>
                  <label for="check2-1">&num;어휘력이 뛰어나고 이야기하는 것을 좋아해요</label>
                  <input type="checkbox" class="CD012" name="" id="check2-2" readonly>
                  <label for="check2-2">&num;논리정연하고 분석하는것을 좋아해요</label>
                  <input type="checkbox" class="CD012" name="" id="check2-3" readonly>
                  <label for="check2-3">&num;조립하기나 만들기 활동을 좋아해요</label>
                  <input type="checkbox" class="CD012" name="" id="check2-4" readonly>
                  <label for="check2-4">&num;사람과 장소, 사물에 대한 관심이 많아요</label>
                  <input type="checkbox" class="CD012" name="" id="check2-5" readonly>
                  <label for="check2-5">&num;에너지가 넘치고 활동적인 것을 좋아해요</label>
                </dd>
              </dl>
            </div>

            <div class="basic_box">
              <div class="title">
                <span class="icon_title baby">선호 아이 연령</span>
                <div class="btn_box">
                  <button type="button" class="btn_edit_profile modify on">수정</button>
                  <button type="button" class="btn_edit_profile cancle">취소</button>
                  <button type="button" class="btn_edit_profile complete preferred_age">저장</button>
                </div>
              </div>

              <div class="notice">
                <span class="notice_text">&quot;내가 선호하는 아이의 연령을 모두 선택해주세요.&quot;</span>
              </div>

              <div class="center_cont">
                <div class="icon_checkbox">
                  <input type="checkbox" name="age" id="check3-1" class="ageC" readonly th:checked="${teacherDetail.teacherActiveC == 'Y' ? 'checked' : 'false'}">
                  <label for="check3-1">4~7세</label>
                  <input type="checkbox" name="age" id="check3-2" class="ageT" readonly th:checked="${teacherDetail.teacherActiveT == 'Y' ? 'checked' : 'false'}">
                  <label for="check3-2">초등학생</label>
                </div>
              </div>
            </div>

            <div class="basic_box">
              <div class="title">
                <span class="icon_title pin">활동 가능 지역</span>
              </div>

              <div class="notice">
                <span class="notice_text">&quot;<em>활동 가능 지역 추가하기</em> 버튼을 눌러 지역을 설정해주세요.&quot;</span>
              </div>

              <div class="center_cont">
                <ul class="available_area">
                  <li th:each="addr : ${teacherHopeAddrList}" class="list"><span th:text="${addr.addrDetail}" th:data-bcode="${addr.addrBcode}"></span>
                    <button type="button" class="area_delete"><span class="text_invisible">삭제하기</span></button>
                  </li>
                </ul>
                <!-- [D] #add_available_area 레이어에서 적용버튼 클릭 시 .available_area 에 리스트가 추가되어야 합니다. -->
                <a href="#add_available_area" class="add_area alert_open add_activate_region">활동가능 지역 추가하기</a>
              </div>
            </div>

            <div class="basic_box">
              <div class="title">
                <span class="icon_title clock">활동가능 시간</span>
              </div>

              <div class="notice">
                <span class="notice_text">&quot;스케줄 설정 메뉴에서 활동 가능 일정을 설정해주세요&quot;</span>
              </div>
              <a href="/set_schedule" class="btn_designed">스케줄설정</a>

              <div class="time_schedule">
                <!-- time_list 왼쪽에 고정된 시간입니다 -->
                <div class="time_list">
                  <ul>
                    <li></li>
                    <li>08:00</li>
                    <li>10:00</li>
                    <li>12:00</li>
                    <li>14:00</li>
                    <li>16:00</li>
                    <li>18:00</li>
                    <li>20:00</li>
                    <li>22:00</li>
                  </ul>
                </div>
                <!-- //time_list -->
      
                <!-- schedule 오른쪽 table 입니다 -->
                <div class="schedule">
                  <div class="schedule_box">
                    <!-- [D] 
                      ul 하나 : 하루
                      li.time_available : 선생님이 수업가능한 시간
                      list 한 칸(30분) : 8px
                    -->
                    <ul th:each="timeBlock : ${teacherTimeBlockList}">
                      <li class="title_date">
                        <span class="dayweek" th:text="${timeBlock.day}"></span>
                      </li>
                      <li th:each="timeBlockAvailable : ${timeBlock.timeBlockList}" th:class="${timeBlockAvailable.available} ? 'time_available'"></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                  </div>
                </div>
                <!-- //schedule -->
              </div>
            </div>

          </div>
          <!-- //첫번째 -->

          <!-- 두번째 -->
          <div class="review">

            <th:block th:replace="thymeleaf/fragments/profile_top :: profile_top(${teacherDetail})"></th:block>

            <div class="basic_box" th:each="visitlog : ${teacherVisitLogList}">
              <span class="icon_title baby_color">선생님 방문일지</span>
              <span><span th:text="${visitlog.birthDay.substring(2, 4)}"></span>년생/<span th:text="${visitlog.gender == 1} ? '남아' : '여아'"></span>/<span th:text="${visitlog.serviceClassTime}"></span>시간</span>
              <p th:text="${visitlog.visitLogContent}"></p>

              <dl class="user_review" th:if="${visitlog.reviewContent != null}">
                <dt>부모님 리뷰</dt>
                <dd th:text="${visitlog.reviewContent}"></dd>
              </dl>
            </div>

          </div>
          <!-- //두번째 -->

          <div class="info">

            <th:block th:replace="thymeleaf/fragments/profile_top :: profile_top(${teacherDetail})"></th:block>

            <table class="basic_table">
              <colgroup>
                <col style="width: 92px;"><col>
              </colgroup>
              <tbody>
                <tr>
                  <th>이름<span>&ast;</span>
                  </th>
                  <td th:text="${teacherDetail.teacherName}"></td>
                </tr>
                <tr>
                  <th>생년월일<span>&ast;</span>
                  </th>
                  <td th:text="${teacherDetail.teacherBirth}">1996년 1월 16일</td>
                </tr>
                <tr>
                  <th>성별<span>&ast;</span></th>
                  <td th:text="${teacherDetail.teacherGender} == 1 ? '남' : '여'"></td>
                </tr>
              </tbody>
            </table>
            
            <table class="basic_table">
              <colgroup>
                <col style="width: 92px;"><col>
              </colgroup>
              <tbody>
                <tr>
                  <th style="padding-bottom: 16px; color: #414853;">수정가능정보</th>
                  <td>
                    <div class="btn_box">
                      <button type="button" class="btn_edit_profile modify calc_row on update_profile_modify_btn">수정</button>
                      <button type="button" class="btn_edit_profile cancle calc_row update_profile_cancel">취소</button>
                      <button type="button" class="btn_edit_profile complete calc_row update_profile_com">저장</button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>휴대폰 번호<span>&ast;</span>
                  </th>
                  <td>
                    <!-- [D] 추가 AMR 200903 .flex_box -->
                    <div class="flex_box">
                      <div>
                        <input type="tel" id="tel_number" readonly th:field="${teacherDetail.teacherTel}" th:data="${teacherDetail.teacherTel}">
                      </div>
                      <div>
                        <!-- [D] 인증완료 시 attr:disabled, text:인증완료 가 되어야 합니다. -->
                        <!-- <a href="#certification_cellphone" class="btn_certification alert_open" disabled>인증완료</a> -->
                        <a href="#certification_cellphone" class="btn_certification alert_open cell_certified">인증받기</a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>주소<span>&ast;</span>
                  </th>
                  <td>
                    <!-- [D] attr 'initial-row' 는 수정모드일 때 사용하는 값입니다. -->
                    <textarea name="" id="teacher_address" cols="30" rows="2" initial-row="2" readonly th:text="${teacherDetail.teacherAddress}"></textarea>
                  </td>
                </tr>
                <tr>
                  <th>연락처<span>&ast;</span></th>
                  <td>
                    <input id="teacher_contact" type="tel" readonly th:field="${teacherDetail.teacherContact}">
                  </td>
                </tr>
                <tr>
                  <th>이메일<span>&ast;</span></th>
                  <td>
                    <!-- [D] 추가 AMR 200903 .flex_box -->
                    <div class="flex_box">
                      <div>
                        <textarea name="" id="teacher_email" cols="30" rows="1" initial-row="1" readonly th:text="${teacherDetail.teacherEmail}" th:data="${teacherDetail.teacherEmail}"></textarea>
                      </div>
                      <div>
                        <!-- [D] 인증완료 시 attr:disabled, text:인증완료 가 되어야 합니다. -->
                        <!-- <a href="#certification_email" class="btn_certification alert_open" disabled>인증완료</a> -->
                        <a href="#certification_email" class="btn_certification alert_open email_modify">인증받기</a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>사진<span>&ast;</span></th>
                  <td>
                    <!-- [D] image를 등록하면 img_box에 img를 넣어주세요.
                      img_box에 img가 없으면 자동으로 기본이미지가 보여집니다.
                      <img src="" alt="사용자 이미지">
                    -->
                    <div class="img_box">
                      <img id="teacher_image_url" th:src="${teacherDetail.teacherImageUrl}">
                    </div>
                    <input type="file" accept="image/*" id="image_file" class="invisible" readonly><label for="image_file" class="add_image">등록하기</label>
                  </td>
                </tr>
              </tbody>
            </table>

            <table class="basic_table">
              <colgroup>
                <col style="width: 92px;"><col>
              </colgroup>
              <tbody>
                <tr>
                  <th>최종학력<span>&ast;</span>
                  </th>
                  <td th:text="${teacherSchool.educateLevel}"></td>
                </tr>
                <tr>
                  <th>최종학교<span>&ast;</span>
                  </th>
                  <td th:text="${teacherSchool.school}"></td>
                </tr>
                <tr>
                  <th>학과</th><span>&ast;</span>
                  <td th:text="${teacherSchool.major}"></td>
                </tr>
                <tr>
                  <th>경력사항</th>
                  <td class="career">
                    <p th:each="career : ${teacherCareerList}"><span th:text="${career.companyName}"></span><br><span th:text="${career.career}"></span>개월</p>
                  </td>
                </tr>
                <tr>
                  <th>자격증</th>
                  <td>
                    <p th:each="certificate : ${teacherCertificateList}" th:text="${certificate.certificate}"></p>
                  </td>
                </tr>
                <tr>
                  <th>외국어</th>
                  <td>
                    <p th:each="certificate : ${teacherCertificateForeignList}" th:text="${certificate.certificate}"></p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- //m_container -->
  </div>
  <!-- //wrap -->

  <!-- layer alert -->
  <!-- 활동가능지역 추가 -->
  <div id="add_available_area" class="alert_box alert_pop">
    <div class="lyr_cont">
      <div class="title_box">
        <span class="title">지역을 선택해 주세요.</span>
      </div>
      <!-- cont_box -->
      <div class="cont_box">
        <ul class="flex_box area_list">
          <!-- [D] 주소
            .dosi : 시, 도
            .gu : 구
            .dong : 동
           -->
        </ul>
        <div class="flex_box btn_box">
          <div><button type="button" class="btn_line_secondary area_before" disabled>이전</button></div>
          <!-- [D] p 태그에 'on' 클래스를 붙히면 display: block 이 됩니다  -->
          <div><p class="t_warning primary_text_xs hide">행정구역을 선택해 주세요.</p></div>
          <div><button type="button" class="btn_line_secondary area_after">다음</button></div>
        </div>
        <textarea name="" id="pick_area" cols="30" rows="1" placeholder="시도 > 시군구 > 동" readonly></textarea>
      </div>
      <!-- //cont_box -->
    </div>
    <div class="lyr_btm">
      <div class="dual_box">
        <div>
          <button type="button" class="alert_close">취소</button>
        </div>
        <div>
          <!-- [D] 적용버튼 클릭 시 .available_area 에 리스트가 추가되어야 합니다. -->
          <button type="button" class="alert_close area_list_close">적용</button>
        </div>
      </div>
    </div>
  </div>
  <!-- //활동가능지역 추가 -->

  <!-- 휴대폰번호 수정 -->
  <div id="certification_cellphone" class="alert_box alert_pop">
    <div class="lyr_cont">
      <div class="title_box">
        <span class="title">휴대폰 인증</span>
      </div>

      <!-- cont_box -->
      <div class="cont_box">
        <span class="cont_desc" style="text-align: center">휴대폰 문자메시지로 전송된 <strong>숫자 6자리</strong>를 정확하게 입력해 주세요.</span>

        <div class="flex_box">
          <div>
            <input type="number" class="auth_number">
            <span class="time">03:00</span>
          </div>
          <div>
            <button type="button" class="btn_resend">재전송</button>
          </div>
        </div>

        <!-- [D] p 태그에 'on' 클래스를 떼면 display: none 이 됩니다  -->
        <p class="certified_number t_warning primary_text_s hide">
          인증번호가 일치하지 않습니다.<br>
          다시한번 정확하게 입력해주세요.
        </p>

        <!-- [D] p 태그에 'on' 클래스를 떼면 display: none 이 됩니다  -->
        <p class="timeover t_warning primary_text_s hide">
          <em>입력시간이 초과</em>되었습니다.<br>
          <em>재전송</em>을 눌러 인증번호를 다시 받아주세요.
        </p>
      </div>
      <!-- //cont_box -->
    </div>

    <div class="lyr_btm">
      <div class="dual_box">
        <div>
          <button type="button" class="alert_close">취소</button>
        </div>
        <div>
          <!-- [D] 적용버튼 클릭 시 .available_area 에 리스트가 추가되어야 합니다. -->
          <button type="button" class="alert_close checkAuthNumber">확인</button>
        </div>
      </div>
    </div>
  </div>
  <!-- //휴대폰번호 수정 -->

  <!-- 이메일 수정 -->
  <div id="certification_email" class="alert_box alert_pop">
    <div class="lyr_cont">
      <div class="title_box">
        <span class="title">이메일 인증</span>
      </div>

      <!-- cont_box -->
      <div class="cont_box" style="text-align: center">
        <p class="cont_desc">인증 메일이 <strong><span class="get_email"></span></strong>(으)로 전송되었습니다. 받으신 이메일을 열어 인증 버튼을 클릭하시면 인증이 완료됩니다.</p>

        <p class="cont_desc">메일이 도착하지 않는다면 <strong>스팸메일함을 확인</strong>하시거나, <strong>다시 한번 인증</strong>을 시도해 주세요.</p>
      </div>
      <!-- //cont_box -->
    </div>

    <div class="lyr_btm">
      <button type="button" class="alert_close">확인</button>
    </div>
  </div>
  <!-- //이메일 수정 -->

  <!-- 휴대폰 인증요청 -->
  <div id="update_detail_check_phone" class="alert_box alert_pop">
    <div class="lyr_cont">
      <div class="title_box">
        <span class="title">인증을 완료해 주세요.</span>
      </div>

      <!-- cont_box -->
      <div class="cont_box">
        <p class="cont_desc">휴대폰 인증이 완료되지 않았습니다.<br>휴대폰 인증을 완료해 주세요.</p>
      </div>
      <!-- //cont_box -->
    </div>

    <div class="lyr_btm">
      <button type="button" class="alert_close">확인</button>
    </div>
  </div>
  <!-- //휴대폰 인증요청 -->
  
  <!-- 이메일 인증요청 -->
  <div id="update_detail_check_email" class="alert_box alert_pop">
    <div class="lyr_cont">
      <div class="title_box">
        <span class="title">인증을 완료해 주세요.</span>
      </div>

      <!-- cont_box -->
      <div class="cont_box">
        <p class="cont_desc">이메일 인증이 완료되지 않았습니다.<br>이메일 인증을 완료해 주세요.</p>
      </div>
      <!-- //cont_box -->
    </div>

    <div class="lyr_btm">
      <button type="button" class="update_detail_check_email_close">확인</button>
    </div>
  </div>
  <!-- //이메일 인증요청 -->
  <!-- //layer alert -->


<!-- 공통 script -->
  <th:block th:fragment="script">
<script type="text/javascript">
  var email;
  var phoneNumber;
  var teacherImage;
  var teacherOrgImage;

$(document).ready(function(){

  var mailAuth = false;
  var authNumber;
  var sido;
  var sigungu;
  var bname1;
  var bname2;
  var selectAddr;
  var time = 180;
  var min = "";
  var sec = "";
  var timer;
  var sel_sido;
  var sel_sigungu;
  var sel_bname1;
  var sel_bname2;
  var insert_addr_flag = false;

  setInterval(function () {
    if (mailAuth) {
      $.ajax({
        type: 'POST',
        contentType: "application/json; charset=UTF-8",
        url: 'checkComplete',
        dataType: 'json',
        async: false,
        cache: false,
        success: function (result) {
          if (result) {
            mailAuth = false;
            email = $("#teacher_email").val();
            $("#teacher_email").attr("readOnly", "readOnly");
            $(".email_modify").html("인증완료");
            $(".email_modify").off();
          }
        },
        error: function (e) {
          console.log(e)
        }
      })
    }
  }, 3000)


  $(".preferred_age").on("click", function () {
    var preferred_age = [];
    $("input:checkbox[name=age]").each(function() {
      var jsonObj = new Object();
      jsonObj.age = $(this).attr("class");
      jsonObj.yn = this.checked ? "Y" : "N";
      preferred_age.push(jsonObj);
    });

    var jsonData = JSON.stringify(preferred_age);
    $.ajax({
      type: 'POST',
      contentType: "application/json; charset=UTF-8",
      url: 'update/preferredAge',
      data: {'jsonData' : jsonData},
      dataType: 'json',
      async: false,
      cache: false,
    })

  })

  $(".intro_profile").on("keyup", function () {

    var intro = $(".intro_profile").val()

    if (intro.length > 40) {
      $(".intro_profile").val(intro.substring(0, 40));
    }

    $(".length_check span").html(intro.length)

  })


  $("#activity_update_btn").on("click", function () {
    var activityList = [];
    $(".activity_checkbox input").each(function (index) {
      if ($(this).is(":checked") == true) {
        var jsonObj = new Object();
        jsonObj.grpId = $(this).attr("class")
        jsonObj.cdId = $(this).attr("id").substring($(this).attr("id").indexOf('-') + 1)
        activityList.push(jsonObj);
      }
    })

    var jsonData = JSON.stringify(activityList);
    $.ajax({
      type: 'POST',
      contentType: "application/json; charset=UTF-8",
      url: 'update/activity',
      data: {'jsonData' : jsonData},
      dataType: 'json',
      async: false,
      cache: false,
    })
  })

  $.ajax({
    type: 'POST',
    contentType: "application/json",
    url:'activity',
    dataType: 'json',
    async: false,
    cache :false,
    success: function(result){
      for (var i = 0; i < result.length; i++) {
        $(".activity_checkbox input").each(function () {
          var cdId;
          if (result[i].grpId == 'CD011') {
            cdId = 'check1-' + result[i].cdId
          } else {
            cdId = 'check2-' + result[i].cdId
          }

          if (result[i].grpId == $(this).attr("class") && cdId == $(this).attr("id")) {
            $(this).attr("checked", "checked")
          }
        })
      }
    }
  });


  // 공통 AMR gnb 열기/닫기
  $('.gnb_open').on('click', function(e) {
    e.stopPropagation();
    handleGndClose();

    $('body').addClass('gnb_backdrop');
    $('#gnb').addClass('show');

    setTimeout(function () {
      $('#gnb').addClass('on');
    }, 100);

    // gnd 닫기
    function handleGndClose() {
      // gnb에서 클릭 시 버블링 막기
      $('#gnb').on('click', function(e) {
        e.stopPropagation();
      })

      // gnb를 제외한 body를 클릭
      $('body').on('click', function(e) {
        if ($('body').hasClass('gnb_backdrop')) {
          $('#gnb').removeClass('on');
          setTimeout(function () {
            $('#gnb').removeClass('show');
            $('body').removeClass('gnb_backdrop');
          }, 200);
        }
      })
    }
  });

  function cellTime() {
      min = parseInt(time / 60);
      sec = time % 60;

      if(sec.toString().length == 1) {
        sec = "0" + sec;
      }

      $(".time").html("0" + min + ":" + sec);
      time --;

      if (time < 0) {
        $(".time").html("00:00");
        clearInterval(timer);
        $(".timeover").removeClass("hide");
      }

  }

  function cellPhone() {
    $.ajax({
      type: 'POST',
      contentType: "application/json",
      url:'cellPhone',
      data: $("#tel_number").val(),
      dataType: 'json',
      async: false,
      cache :false,
      success: function(result) {
      }
    })
  }

  $(".btn_resend").on("click", function () {
    clearInterval(timer)
    $(".timeover").addClass("hide");
    time = 180;
    timer = setInterval(cellTime, 1000);
    cellPhone();
  })

  // 공통 200810 AMR 얼럿 레이어 열기/닫기
  $('.alert_open').on('click', function(e){
    //핸드폰 인증받기 버튼일 경우
    $(".timeover").addClass("hide");
    if ($(this).hasClass("cell_certified")) {
      $(".certified_number").addClass("hide")
      clearInterval(timer);
      time = 180;
      timer = setInterval(cellTime, 1000);
      cellPhone();
    }

    if ($(this).hasClass("email_modify")) {
      mailAuth = true;
      email = $("#teacher_email").val();
      $(".get_email").html(email);
      $.ajax({
        type: 'POST',
        contentType: "application/json",
        url:'emailModify',
        data: $("#teacher_email").val(),
        dataType: 'json',
        async: false,
        cache :false,
        success: function(result) {
        }
      })
    }

    if ($(this).hasClass("add_area")) {
      $(".area_list").children().remove();
      $.ajax({
        type: 'POST',
        contentType: "application/json; charset=UTF-8",
        url: 'region',
        data: JSON.stringify({
          addrSido: null,
          addrSigungu: null,
          addrBname1: null,
          addrBname2: null,
        }),
        dataType: 'json',
        async: false,
        cache: false,
        success: function (result) {

          for (var i = 0; i < result.length; i++) {
            var html = `<li><span>${result[i].addrAddress}</span></li>`

            $(".area_list").append(html)
          }
        }

      })

    }

    var thisHref = $(this).attr('href');

    e.stopPropagation();
    handleLyrClose(); //레이어 닫기

    $('body').addClass('lyr_backdrop'); //body에 백그라운드 적용
    $(thisHref).css({'display': 'block'}); //클릭한 a의 href와 동일한 레이어만 block

    setTimeout(function(){
      $(thisHref).addClass('on') //레이어 오픈 효과 적용
    }, 100);
  })

  // 공통 얼럿 레이어 닫기
  function handleLyrClose() {
    // 레이어 닫기버튼 클릭
    $('.alert_close').on('click', function(){

      if ($(this).hasClass("checkAuthNumber")) {

        $.ajax({
          type: 'POST',
          contentType: "application/json",
          url:'checkAuth',
          data: $(".auth_number").val(),
          dataType: 'json',
          async: false,
          cache :false,
          success: function(result) {
            if (result) {
              $('.alert_box').removeClass('on');

              setTimeout(function(){
                $('body').removeClass('lyr_backdrop');
                $('.alert_box').css({'display': 'none'});
                $('.alert_close').off('click');
              }, 200);

              $("#teacherTel").attr("readOnly", "readOnly")
              $(".cell_certified").html("인증완료")
              $(".cell_certified").off();

              authNumber = $(".auth_number").val();
              phoneNumber = $("#tel_number").val();

            } else {
              $(".certified_number").removeClass("hide")
              return;
            }
          },
          error: function () {
            $(".certified_number").removeClass("hide")
            return;
          }
        })

      } else if ($(this).hasClass("alert_close area_list_close")) {

        if (insert_addr_flag) {

          $.ajax({
            type: 'POST',
            contentType: "application/json",
            url: 'insertHopeAddr',
            data: JSON.stringify({
              addrSido: sido,
              addrSigungu: sigungu,
              addrBname1: bname1,
              addrBname2: bname2,
            }),
            dataType: 'json',
            async: false,
            cache: false,
            success: function (result) {
            }
          })
          location.reload()

        } else {
          $(".primary_text_xs").removeClass("hide")
          $(".area_before").attr("disabled", false)
          return;
        }

        $('.alert_box').removeClass('on');

        setTimeout(function(){
          $('body').removeClass('lyr_backdrop');
          $('.alert_box').css({'display': 'none'});
          $('.alert_close').off('click');
        }, 200);

      } else {

      $('.alert_box').removeClass('on');

      setTimeout(function(){
        $('body').removeClass('lyr_backdrop');
        $('.alert_box').css({'display': 'none'});
        $('.alert_close').off('click');
      }, 200);
      }
    })

  }

  // 공통 수정 200819 AMR input이 focus되어 있을 때 스크롤을 하면 가상키보드가 닫힘
  $('input').focus(function(){
    handleInputKeyboard($('#m_container'), $(document));
    handleInputKeyboard($('.lyr_box, .alert_box, .lyr_backdrop'), $('.lyr_box, .alert_box, .lyr_backdrop'));
  });

  function handleInputKeyboard(touchStartEl, touchEndEl) {
    touchStartEl.on('touchstart', function (e) {
      touchEndEl.on('touchmove touchend', function (e) {
        touchEndEl.off('touchmove touchend');
        $('input').blur();
      });
    });
  }

  // 공통 NBR tap list 열기/닫기
  function handleTapList() {
    var setBtn = $('.set_btn_box li');
    var setCont = $('.set_board > div');
    setCont.hide();
    setCont.eq(0).show();
    setBtn.on('click', function () {
      var target = $(this);
      var index = target.index();
      setBtn.removeClass('on');
      target.addClass('on');
      setCont.css('display', 'none');
      setCont.eq(index).css('display', 'block');
    });
  }

  handleTapList();


  $(".update_detail_check_email_close").on("click", function () {
    $('body').removeClass('lyr_backdrop'); //body에 백그라운드 적용
    $("#update_detail_check_email").css({'display': 'none'}); //클릭한 a의 href와 동일한 레이어만 block

    setTimeout(function(){
      $("#update_detail_check_email").removeClass('on') //레이어 오픈 효과 적용
    }, 100);
  })

  $("#image_file").on("change", function () {
    let form = new FormData()
    let file = $(this).get(0).files[0];
    form.append("image", file);

    $.ajax({
      url: 'imageUpload',
      type: 'POST',
      data: form,
      contentType: false,
      processData: false,
      cache: false,
      enctype: "multipart/form-data",
      success: function (result) {
        var imageDetail = JSON.parse(result);
        teacherOrgImage = imageDetail.teacherOrgImage;
        teacherImage = imageDetail.teacherImage;
        $("#teacher_image_url").attr("src", teacherImage);
      },
      error: function (error) {
        console.log(error)
      }
    })
  })

  var teacher_tel_origin;
  var teacher_eamil_origin;
  var addr;
  var contact;

  $(".update_profile_modify_btn").on('click', function () {
    addr = $("#teacher_address").val();
    contact = $("#teacher_contact").val();
    phoneNumber = $("#tel_number").attr("data");
    email = $("#teacher_email").attr("data");
  })
  $(".update_profile_cancel").on('click', function () {
    $("#teacher_address").val(addr);
    $("#teacher_contact").val(contact);
    $("#tel_number").val($("#tel_number").attr("data"));
    $("#teacher_email").val($("#teacher_email").attr("data"));
  })

  $('.user_profile .btn_edit_profile').on('click', function(){

    if ($(this).hasClass("update_profile_com")) {

      if (phoneNumber != $("#tel_number").val() || email != $("#teacher_email").val()) {
        return;
      }

      if (mailAuth) {
        $('body').addClass('lyr_backdrop');
        $("#update_detail_check_email").css({'display': 'block'});
        setTimeout(function(){
          $("#update_detail_check_email").addClass('on')
        }, 100);
        return;
      }

      $.ajax({
        type: 'POST',
        contentType: "application/json",
        url: 'updateDetail',
        data: JSON.stringify({
          teacherContact: $("#teacher_contact").val(),
          teacherAddress: $("#teacher_address").val(),
          teacherImageUrl: teacherImage,
          teacherTel: phoneNumber,
          teacherEmail: email,
        }),
        dataType: 'json',
        async: false,
        cache: false,
        success: function (result) {
        },
        error: function (error) {
          return;
        }
      })
    }

    if ($(this).hasClass("reg_introduce")) {

      $.ajax({
        type: 'POST',
        contentType: "application/json",
        url: 'updateDetail',
        data: JSON.stringify({
          teacherContact: $("#teacher_contact").val(),
          teacherAddress: $("#teacher_address").val(),
          teacherImageUrl: teacherImage,
          teacherTel: phoneNumber,
          teacherEmail: email,
          teacherIntroduce: $(".intro_profile").val(),
        }),
        dataType: 'json',
        async: false,
        cache: false,
        success: function (result) {
          location.reload();
        },
        error: function (error) {
          return;
        }
      })
    }


    var $thisBtn = $(this);
    var $thisBtnParentBox = $(this).parents('.basic_box, .basic_table');

    // 수정 버튼 클릭 시
    if ( $thisBtn.hasClass('modify') ) {
      modifyMode($thisBtn);

      $thisBtnParentBox.find('textarea').each(function(){
        var textarea = $(this);
        var initialRow = textarea.attr('initial-row');
        textarea.attr('rows', initialRow) // 초기값인 initial-row로 고정
      });
      return;
    }

    // 저장, 취소버튼 클릭 시
    viewMode($thisBtn);
    $thisBtnParentBox.find('textarea').each(function(){
      var textarea = $(this);
      textarea.attr('rows', calcTextareaRow(textarea));
    });
  });

  // 수정모드로 진입
  function modifyMode(modifyBtn) {
    var $parentBox = modifyBtn.parents('.basic_box, .basic_table');

    $parentBox.find('.btn_edit_profile').removeClass('on')
    $parentBox.find('.cancle, .complete').addClass('on');
    $parentBox.addClass('on');
    $parentBox.find('input, textarea').prop('readonly', false);
  }

  // 뷰모드로 진입
  function viewMode(viewBtn) {
    var $parentBox = viewBtn.parents('.basic_box, .basic_table');

    $parentBox.find('.btn_edit_profile').removeClass('on')
    $parentBox.find('.modify').addClass('on');
    $parentBox.removeClass('on');
    $parentBox.find('input, textarea').prop('readonly', true);
  }

  // AMR textarea가 뷰모드일 때 row 계산
  function calcTextareaRow(selector) {
    var scrollHeight = selector.prop('scrollHeight');
    var lineHeightProperty = selector.css('line-height');
    var lineHeight = Number(lineHeightProperty.replace('px', ''))
    var rows = Math.floor(scrollHeight/lineHeight); //line-height로 나누어 몇 줄인지 계산
    return rows
  }
  

  // AMR 프로필 본인 소개 textarea 이벤트
  // #intro_profile 에 값이 없으면 p.placeholder가 보여지고, 값이 있으면 가려집니다
  $('#intro_profile').on('change', function(){
    var thisVal = $('#intro_profile').val()

    if ( thisVal.trim() === '' ) {
      $(this).removeClass('on');
      $(this).val('');
      return;
    }
    $(this).addClass('on');
  });

  $(".area_after").on("click", function () {

    if (sido == '세종특별자치시') {
      sigungu = '세종특별자치시'
    }

    if (sido == null) {
      return;
    }

    $.ajax({
      type: 'POST',
      contentType: "application/json; charset=UTF-8",
      url: 'region',
      data: JSON.stringify({
        addrSido: sido,
        addrSigungu: sigungu,
        addrBname1: bname1,
        addrBname2: bname2,
      }),
      dataType: 'json',
      async: false,
      cache: false,
      success: function (result) {

        $(".area_before").attr("disabled", false);

        if (sido != null && sigungu != null && bname1 != null) {
          $(".area_list").attr("data-bname1", bname1)
        } else if (sido != null && sigungu != null) {
          $(".area_list").attr("data-sigungu", sigungu)
        } else if (sido != null) {
          $(".area_list").attr("data-sido", sido)
        }

        $(".area_list").children().remove();

        for (var i = 0; i < result.length; i++) {
          var html = `<li><span>${result[i].addrAddress}</span></li>`

          $(".area_list").append(html)
        }
      }

    })

  })

  $(".area_before").on("click", function () {

    if (bname1 != null && sigungu != null && sido != null){
      bname2 = null;
      bname1 = null;
      $(".area_list").attr("data-bname2", bname2);
      $(".area_list").attr("data-bname1", bname1);
    } else if (sigungu != null && sido != null) {
      sigungu = null;
      $(".area_list").attr("data-sigungu", sigungu);
    } else if (sido != null) {
      sido = null;
      $(".area_list").attr("data-sido", sido);
      $(".area_before").attr("disabled", true);
    }

    if (sido == '세종특별자치시') {
      sigungu = '세종특별자치시'
    }

    $.ajax({
      type: 'POST',
      contentType: "application/json; charset=UTF-8",
      url: 'region',
      data: JSON.stringify({
        addrSido: sido,
        addrSigungu: sigungu,
        addrBname1: bname1,
        addrBname2: bname2,
      }),
      dataType: 'json',
      async: false,
      cache: false,
      success: function (result) {
        insert_addr_flag = false;
        $(".area_list").children().remove();

        for (var i = 0; i < result.length; i++) {
          var html = `<li><span>${result[i].addrAddress}</span></li>`

          $(".area_list").append(html)
        }


        if ($(".area_list").attr("data-sido") == null) {
          sido = $(".area_list .on span").html();
          selectAddr = sido;
        } else if ($(".area_list").attr("data-sigungu") == null) {
          sigungu = $(".area_list .on span").html();
          selectAddr = sido;
        } else if ($(".area_list").attr("data-bname1") == null) {
          bname1 = $(".area_list .on span").html();
          selectAddr = sido + " > " + sigungu;
        } else if ($(".area_list").attr("data-bname2") == null) {
          bname2 = $(".area_list .on span").html();
          selectAddr = sido + " > " + sigungu + " > " + bname1;
        }

        if (sel_sido == '세종특별자치시') {
          sel_sigungu = '세종특별자치시'
        }

        $("#pick_area").val(selectAddr);

      }

    })

  })

  // AMR available_area 리스트 삭제
  $('.area_delete').on('click', function(){

    $.ajax({
      type: 'POST',
      contentType: "application/json; charset=UTF-8",
      url: 'deleteHopeAddr',
      data: $(this).siblings("span").attr("data-bcode"),
      dataType: 'json',
      async: false,
      cache: false,
      success: function (result) {
      }
    })

    $(this).parent('li').remove()

  })

  // AMR add_available_area 레이어 이벤트
  $('a[href="#add_available_area"]').on('click', function(){

    sido = null;
    sigungu = null;
    bname1 = null;
    bname2 = null;
    $(".area_list").attr("data-sido", null)
    $(".area_list").attr("data-sigungu", null)
    $(".area_list").attr("data-bname1", null)
    $(".area_list").attr("data-bname2", null)
    $(".primary_text_xs").addClass("hide")

    // 주소선택 디자인 효과
    $(document).on('click', "#add_available_area li", function(){

      var thisParent = $(this).parent('.area_list');

      thisParent.siblings('ul').removeClass('on')
      thisParent.next('ul').find('li').removeClass('on')
      thisParent.next('ul').addClass('on')
      thisParent.siblings('ul').removeClass('on')
      thisParent.next('ul').find('li').removeClass('on')
      thisParent.next('ul').addClass('on')

      thisParent.find('li').removeClass('on');
      $(this).addClass('on');
      // 선택한 주소 표현식

      if ($(".area_list").attr("data-sido") == null) {
        sido = $(".area_list .on span").html();
        selectAddr = sido;
      } else if ($(".area_list").attr("data-sigungu") == null) {
        sigungu = $(".area_list .on span").html();
        selectAddr = sido + " > " + sigungu;
      } else if ($(".area_list").attr("data-bname1") == null) {
        bname1 = $(".area_list .on span").html();
        selectAddr = sido + " > " + sigungu + " > " + bname1;
      } else if ($(".area_list").attr("data-bname2") == null) {
        bname2 = $(".area_list .on span").html();
        selectAddr = sido + " > " + sigungu + " > " + bname1 + " > " + bname2;
      }

      if (sel_sido == '세종특별자치시') {
        sel_sigungu = '세종특별자치시'
      }

      $("#pick_area").val(selectAddr);

      $.ajax({
        type: 'POST',
        contentType: "application/json; charset=UTF-8",
        url: 'region',
        data: JSON.stringify({
          addrSido: sido,
          addrSigungu: sigungu,
          addrBname1: bname1,
          addrBname2: bname2,
        }),
        dataType: 'json',
        async: false,
        cache: false,
        success: function (result) {
          if (result.length == 0) {
            insert_addr_flag = true;
            $(".area_after").attr("disabled", true)
          } else {
            $(".area_after").attr("disabled", false)
          }

        }
      })


    });

    // 레이어를 닫으면 모든 선택 초기화
    $('#add_available_area .alert_close').on('click', function(){
      $('#add_available_area ul').removeClass('on')
      $('#add_available_area li').removeClass('on')
      $('#add_available_area #pick_area').val('')
    });
  });

  $(".profile_visit_review").on('click', function () {
    $(".introduce_btn_box").addClass("hide");
  })
  $(".profile_basic_info").on('click', function () {
    $(".introduce_btn_box").addClass("hide");
  })
  $(".profile_introduce").on('click', function () {
    $(".introduce_btn_box").removeClass("hide");
  })

  $(".add_activate_region").on("click", function () {
    $(".area_after").attr("disabled", false)
    $(".area_before").attr("disabled", true)
  })

});
</script>
  </th:block>
<!-- 개별 페이지 script -->
</body>
</html>