<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="thymeleaf/layout/default">
<head>
    <title>Schedule set</title>
</head>

<body layout:fragment="content">
<!-- #wrap -->
<div id="wrap">

    <!-- #m_container -->
    <div id="m_container">
        <h2 class="page_title">스케줄 설정</h2>

        <!-- .set_area -->
        <div class="schedule_set_area">
            <!-- .set_btn_box -->
            <!-- [D] 선택 시 .set_btn_box li에 addClass 'on' 되며 해당메뉴와 해당화면 활성화됨  -->
            <ul class="set_btn_box">
                <li class="on"><a href="#none">방문 가능 시간 설정</a></li>
                <li><a href="#none">불가능한 일정 설정</a></li>
            </ul>
            <!-- //.set_btn_box -->

            <!-- .set_board -->
            <div class="set_board">
                <!-- .cont_slt_time -->
                <div class="cont_slt_time">
                    <div class="btn_option_group">
                        <!-- [D] 체크 시 (#scdl_disable) 팝업 등장 / 해제 시 (#scdl_activate) 팝업 등장 
                                          스케줄을 비활성화 할 수 없는 경우: 매칭완료 및 활동 중인 방문이 있는 경우 (#scdl_disable_ipsb) 팝업 등장-->
                        <div class="btn_scdl_disable btn_option">
                            <input type="checkbox" id="scd_disable">
                            <label for="scd_disable">스케줄 비활성화</label>
                        </div>
                        <div class="btn_option">
                            <input type="checkbox" id="scd_reject">
                            <label for="scd_reject">신규 신청거부</label>
                        </div>
                    </div>

                    <!-- .lst_group -->
                    <div class="lst_group">
                        <!-- .week_lst -->
                        <!-- [D] .week_lst li에서 click evnet 시 addClass('on')으로 활성화됨 
                                      (선택 요일에 시간 선택 후 저장하지 않고 다른 요일로 넘어갈 경우 
                                      스케줄 초기화 팝업(#scdl_reset)을 띄워 '취소' 시 기존 선택 요일화면 유지,
                                      '확인' 시 저장하지 않은 시간은 초기화되며 다른 요일로 넘어감) -->
                        <ul class="week_lst">
                            <th:block th:each="dayType : ${T(ai.maum.aics.daekyo.ud.web.controller.type.DayType).list}">
                                <li th:value="${dayType.name()}">
                                    <a href="#none" th:text="${dayType.korean}">월</a>
                                </li>
                            </th:block>
                        </ul>
                        <!-- //.week_lst -->

                        <!-- .time_lst -->
                        <!-- [D] click evnet & touchmove event 시 선택 또는 터치상태로 이동된 만큼의 
                                      .time_lst li에 addClass('on')하여 활성화시켜야함 -->
                        <ol class="time_lst" th:each="rowIdx : ${#numbers.sequence(0, (timeBlockList.size() - 1) / 6)}">
                            <li
                                    th:each="columIdx : ${#numbers.sequence(0, 5)}"
                                    th:if="${rowIdx*6+columIdx < timeBlockList.size()}"
                                    th:with="timeBlock=${timeBlockList.get(rowIdx*6+columIdx)}"
                                    th:value="${timeBlock.id}"
                            >
                                <a href="#none">
                                    <span>
                                        <th:block th:utext="${timeBlock.startTime}" />
                                        <small>&tilde;<th:block th:utext="${timeBlock.endTime}" /></small>
                                    </span>
                                </a>
                            </li>
                        </ol>
                        <!-- //.time_lst -->
                    </div>
                    <!-- //.lst_group -->

                    <div class="notice">
                        <div class="notice_bg">
                            <span class="notice_text">선택한 날짜를 두 번 누르면 취소됩니다.</span>
                        </div>
                    </div>

                    <div class="btm_box">
                        <button type="button" class="btn_save">
                            <span class="week">수</span>요일 스케줄을 저장합니다.
                        </button>
                    </div>
                </div>
                <!-- //.cont_slt_time -->

                <!-- .cont_slt_date -->
                <div class="cont_slt_date">
                    <div class="calendar_box">
                        <!-- [D] .fc-day에서 click evnet 시 addClass('on')으로 활성화됨 
                                      (해당 월에 날짜 선택 후 저장하지 않고 다른 월로 넘어갈 경우 
                                      스케줄 초기화 팝업(#scdl_reset)을 띄워 '취소' 시 기존 선택 월과 선택 날짜 유지,
                                      '확인' 시 저장하지 않은 날짜는 초기화되며 다른 월로 넘어감) -->

                        <!-- [D] FullCalendar 적용되는 div -->
                        <div id="calendar"></div>
                    </div>

                    <div class="notice">
                        <div class="notice_bg">
                            <span class="notice_text">선택한 날짜를 두 번 누르면 취소됩니다.</span>
                        </div>
                    </div>

                    <div class="btm_box">
                        <button type="button" class="btn_save">
                            <span class="month"></span>월 불가능한 일정을 저장합니다.
                        </button>
                    </div>
                </div>
                <!-- //.cont_slt_date -->
            </div>
            <!-- //.set_board -->
        </div>
        <!-- //.set_area -->
    </div>
    <!-- //#m_container -->
</div>
<!-- //#wrap -->

<!-- popup -->
<!-- 선택 스케줄 초기화 -->
<!-- [D] .alert_pop 에 'on' class가 추가되면 팝업 등장 -->
<div id="scdl_reset" class="alert_box alert_pop">
    <div class="lyr_cont">
        <div class="title_box">
            <span class="title">선택한 스케줄이 초기화됩니다.</span>
        </div>

        <div class="cont_box">
            <span class="cont_desc">선택된 스케줄을 저장하시려면 <strong>‘취소’</strong>를 눌러 스케줄을 저장한 후 이동해주세요.</span>
            <span class="cont_desc"><strong>‘확인’</strong>을 누르면 스케줄이 초기화되며 선택한 요일로 이동합니다.</span>
        </div>
    </div>

    <div class="lyr_btm">
        <button type="button" class="btn_cancel scdl_lyr_close">취소</button>
        <button type="button" class="btn_reset">확인</button>
    </div>
</div>
<!-- //선택 스케줄 초기화 -->

<!-- 스케줄 설정 비활성화 -->
<!-- [D] .alert_pop 에 'on' class가 추가되면 팝업 등장 -->
<div id="scdl_disable" class="alert_box alert_pop">
    <div class="lyr_cont">
        <div class="title_box">
            <span class="title">스케줄 설정이 비활성화됩니다.</span>
        </div>

        <div class="cont_box">
            <span class="cont_desc">스케줄 비활성화 모드 작동 시,<br>재활성화를 할 때까지 방문활동이 제한됩니다.</span>
        </div>
    </div>

    <div class="lyr_btm">
        <button type="button" class="btn_cancel scdl_lyr_close activate_confirm">확인</button>
    </div>
</div>
<!-- //스케줄 설정 비활성화 -->

<!-- 스케줄 설정 활성화 -->
<!-- [D] .alert_pop 에 'on' class가 추가되면 팝업 등장 -->
<div id="scdl_activate" class="alert_box alert_pop">
    <div class="lyr_cont">
        <div class="title_box">
            <span class="title">스케줄 설정이 활성화됩니다.</span>
        </div>

        <div class="cont_box">
            <span class="cont_desc">스케줄 설정이 활성 모드로 전환되어<br>방문활동이 가능해졌습니다.</span>
            <em class="cont_ntc">매칭을 위해 스케줄을 다시 설정해주세요!</em>
        </div>
    </div>

    <div class="lyr_btm">
        <button type="button" class="btn_cancel scdl_lyr_close activate_confirm">확인</button>
    </div>
</div>
<!-- //스케줄 설정 활성화 -->

<!-- 스케줄 설정 비활성화 불가 -->
<!-- [D] .alert_pop 에 'on' class가 추가되면 팝업 등장 -->
<!-- [D] 시간 설정 화면에서 선택한 일정에 이미 매칭 또는 예정인 방문이 있는 경우에 등장 -->
<div id="scdl_disable_ipsb" class="alert_box alert_pop">
    <div class="lyr_cont">
        <div class="title_box">
            <span class="title">스케줄을 비활성화할 수 없습니다.</span>
        </div>

        <div class="cont_box">
            <span class="cont_desc">매칭 완료 및 활동(예정) 중인 방문이 있는 경우,<br>스케줄 비활성화 모드 전환이 제한됩니다.</span>
            <span class="cont_desc">사전 안내 없이 방문을 중도 취소하거나<br>방문하지 않을 경우 위약금이 발생됩니다.</span>
            <em class="cont_ntc">신규 방문 신청을 받고 싶지 않은 경우,<br>‘신규 신청거부’를 설정해주세요.</em>
        </div>
    </div>

    <div class="lyr_btm">
        <button type="button" class="btn_cancel scdl_lyr_close">확인</button>
    </div>
</div>
<!-- //스케줄 설정 비활성화 불가 -->

<!-- 방문 불가능 일정 설정 불가 -->
<!-- [D] .alert_pop 에 'on' class가 추가되면 팝업 등장 -->
<!-- [D] 날짜 선택 화면에서 선택한 일정에 이미 매칭 또는 예정인 방문이 있는 경우에 등장 -->
<div id="scdl_visit_ipsb" class="alert_box alert_pop">
    <div class="lyr_cont">
        <div class="title_box">
            <span class="title">불가능한 일정을 설정할 수 없습니다.</span>
        </div>

        <div class="cont_box">
            <span class="cont_desc">매칭완료 및 활동(예정) 중인 방문이 있는 경우,<br>불가능한 일정 설정이 제한됩니다.</span>
        </div>
    </div>

    <div class="lyr_btm">
        <button type="button" class="btn_cancel scdl_lyr_close">확인</button>
    </div>
</div>
<!-- //방문 불가능 일정 설정 불가 -->

<!-- script -->
<th:block layout:fragment="script">

<script type="text/javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        // 방문 불가 설정 달력 Fullcalendar

        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            initialDate: new Date(),
            // selectable: false,
            contentHeight: 'auto',
            showNonCurrentDates: true,
            views: {
                dayGridMonth: {
                    titleFormat: {
                        year: 'numeric',
                        month: 'numeric'
                    },
                },
            },
            validRange: {
                start: moment().add("4", "d").format("YYYY-MM-DD"),
                end: moment().add("93", "d").format("YYYY-MM-DD"),
            }
        });
        calendar.render();
        var isChangeDate = false;
        var savedDateList = [];
        function checkDateList() {
            isChangeDate = false;
            if ($('.fc-day.on').length !== savedDateList.length) {
                isChangeDate = true;
            } else {
                $('.fc-day.on').each(function (idx, selectedDate) {
                    var selectedDateValue = $(selectedDate).attr('data-date');
                    if (selectedDateValue !== savedDateList[idx]) {
                        isChangeDate = true;
                        return false;
                    }
                });
            }
            if (isChangeDate) {
                $('.cont_slt_date .btm_box button').addClass('on');
            } else {
                $('.cont_slt_date .btm_box button').removeClass('on');
            }
        }
        function moveMonth() {
            var monthNum = $('.fc-toolbar-month').text();
            var monthSaveBtn = $('.btn_save .month');
            monthSaveBtn.html(monthNum);

            if (monthNum < 10) {
                monthNum = "0" + monthNum;
            }
            var yearMonth = $('.fc-toolbar-year').text() + '-' + monthNum;
            $.ajax({
                type: 'GET',
                contentType: "application/json",
                url:'/set_schedule/teacher_date_list',
                data: {'yearMonth': yearMonth},
                dataType: 'json',
                async: false,
                cache :false,
                success: function(data){
                    console.log(data.dateList)
                    $('.fc-day').removeClass('on');
                    for (var timeBlock of data.dateList) {
                        $('.fc-day[data-date=' + timeBlock + ']').addClass('on');
                    }
                    savedDateList = data.dateList;
                    isChangeDate = false;
                    $('.cont_slt_date .btm_box button').removeClass('on');
                },
                error:function(xhr, status, error){
                    console.log('error:'+error);
                }
            });
        }
        moveMonth();

        // 선택 불가 날짜에 ㆍ 넣어줌
        $('.fc-day-disabled > div').append('<div class="fc-daygrid-day-top"><a class="slt_disable">&bull;</a></div>')

        // 요일 한글로 출력 (Fullcalendar 옵션으로 lang'ko'를 주니 일자도 모두 바뀌어 html 직접 바꿔줌)
        function weekListKo() {
            // 일요일
            var weekSun = $('.fc-day-sun .fc-col-header-cell-cushion');
            weekSunKo = weekSun.text().replace('Sun', '일');
            weekSun.html(weekSunKo);

            // 월요일
            var weekMon = $('.fc-day-mon .fc-col-header-cell-cushion');
            weekMonKo = weekMon.text().replace('Mon', '월');
            weekMon.html(weekMonKo);

            // 화요일
            var weekTue = $('.fc-day-tue .fc-col-header-cell-cushion');
            weekTueKo = weekTue.text().replace('Tue', '화');
            weekTue.html(weekTueKo);

            // 수요일
            var weekWed = $('.fc-day-wed .fc-col-header-cell-cushion');
            weekWedKo = weekWed.text().replace('Wed', '수');
            weekWed.html(weekWedKo);

            // 목요일
            var weekThu = $('.fc-day-thu .fc-col-header-cell-cushion');
            weekThuKo = weekThu.text().replace('Thu', '목');
            weekThu.html(weekThuKo);

            // 금요일
            var weekFri = $('.fc-day-fri .fc-col-header-cell-cushion');
            weekFriKo = weekFri.text().replace('Fri', '금');
            weekFri.html(weekFriKo);

            // 토요일
            var weekSat = $('.fc-day-sat .fc-col-header-cell-cushion');
            weekSatKo = weekSat.text().replace('Sat', '토');
            weekSat.html(weekSatKo);
        } weekListKo();

        // 시간, 날짜 선택 박스 width와 동일하게 height 주기
        // 시간
        var timeBoxwidth = $('.time_lst li').width();
        $('.time_lst li').height(timeBoxwidth);
        // 날짜
        var dateBoxwidth = $('.fc-daygrid th').width();
        $('.fc-day').height(dateBoxwidth);

        var isChangeTime = false;
        var savedTimeBlockList = [];
        var nextWeek = $('.week_lst li[value="[[${todayDayWeek}]]"] a');

        function moveWeek() {
            // 선택 날짜 활성화
            $('.week_lst li').removeClass('on');
            $(nextWeek).parent('li').addClass('on');

            // 하단 버튼에 선택 요일명 넣어주기
            var weekName = $(nextWeek).text();
            var weekSaveBtn = $('.btn_save .week');
            var dayType = $(nextWeek).parent('li').attr("value");
            weekSaveBtn.html(weekName);
            $.ajax({
                type: 'GET',
                contentType: "application/json",
                url:'/set_schedule/teacher_time_list',
                data: {'dayType': dayType},
                dataType: 'json',
                async: false,
                cache :false,
                success: function(data){
                    $('.time_lst li').removeClass('on');
                    for (var timeBlock of data.timeBlockList) {
                        $('.time_lst li[value=' + timeBlock + ']').addClass('on');
                    }
                    savedTimeBlockList = data.timeBlockList;
                    isChangeTime = false;
                    $('.cont_slt_time .btm_box button').removeClass('on');
                },
                error:function(xhr, status, error){
                    console.log('error:'+error);
                }
            });
        }
        moveWeek();
        // 요일 선택
        $('.week_lst li a').on('click', function () {
            nextWeek = this;
            if (isChangeTime) {
                $('body').addClass('lyr_backdrop');
                $('#scdl_reset').css('display', 'block');
                setTimeout(function () {
                    $('#scdl_reset').addClass('on') //레이어 오픈 효과 적용
                }, 100);
                return;
            }
            moveWeek();
        });
        const selection = Selection.create({

            // Class for the selection-area
            class: 'ol',

            // All elements in this container can be selected
            selectables: ['.time_lst > li'],

            // The container is also the boundary in this case
            boundaries: ['.time_lst']
        }).on('move', ({changed: {removed, added}}) => {

            // Add a custom class to the elements that where selected.
            for (const el of added) {
                el.classList.toggle('on');
            }

            // Remove the class from elements that where removed
            // since the last selection
            for (const el of removed) {
                el.classList.toggle('on');
            }

        }).on('stop', ({inst}) => {
            isChangeTime = false;
            if ($('.time_lst li.on').length !== savedTimeBlockList.length) {
                isChangeTime = true;
            } else {
                $('.time_lst li.on').each(function (idx, selectedLi) {
                    var timeBlock = $(selectedLi).val();
                    if (timeBlock !== savedTimeBlockList[idx]) {
                        isChangeTime = true;
                        return false;
                    }
                });
            }
            if (isChangeTime) {
                $('.cont_slt_time .btm_box button').addClass('on');
            } else {
                $('.cont_slt_time .btm_box button').removeClass('on');
            }
            // Remember selection in case the user wants to add smth in the next one
            inst.keepSelection();
        });

        // 시간 저장 버튼 터치 이벤트
        $('.cont_slt_time .btm_box button').on('touchstart touchend click', function () {
            var timeBlockList = [];
            $('.time_lst li.on').each(function () {
                timeBlockList.push($(this).val());
            });
            if (!isChangeTime) {
                return;
            }
            var dayType = $('.week_lst li.on').attr("value");
            $.ajax({
                type: 'POST',
                contentType: "application/json",
                url:'/set_schedule/teacher_time_list',
                data: JSON.stringify({
                    'dayType': dayType,
                    'timeBlockList': timeBlockList
                }),
                dataType: 'json',
                async: false,
                cache :false,
                success: function(){
                    isChangeTime = false;
                    savedTimeBlockList = timeBlockList;
                    $('.cont_slt_time .btm_box button').removeClass('on');
                },
                error:function(xhr, status, error){
                    console.log('error:'+error);
                }
            });
        });

        // 선택 스케줄 초기화, 확인 버튼
        $('.btn_reset').on('touchstart touchend', function () {
            moveMonth();
            moveWeek();
            closeLayer();
        });

        $('.fc-button').on('click', moveMonth);

        // 달력 선택 일자 활성화
        $('.fc-scrollgrid-sync-table tbody').on('click', '.fc-day', function () {
            var selectedDay = $(this);
            var visitDate = $(this).attr('data-date');
            if (selectedDay.hasClass('on')) {
                selectedDay.removeClass('on');
                checkDateList();
            } else {
                $.ajax({
                    type: 'GET',
                    contentType: "application/json",
                    url:'/set_schedule/check_date',
                    data: {visitDate: visitDate},
                    dataType: 'json',
                    async: false,
                    cache :false,
                    success: function(data){
                        if (data.result) {
                            selectedDay.addClass('on');
                            checkDateList();
                        } else {
                            $('body').addClass('lyr_backdrop');
                            $('#scdl_visit_ipsb').css('display', 'block');
                            setTimeout(function () {
                                $('#scdl_visit_ipsb').addClass('on') //레이어 오픈 효과 적용
                            }, 100);
                        }
                    },
                    error:function(xhr, status, error){
                        console.log('error:'+error);
                    }
                });
            }
        })

        // 달력 넘기기 버튼 클릭 시
        $('.fc-button').on('click', function () {
            // $("#calendar").off();
            //
            // if (isChangeDate) {
            //     $('body').addClass('lyr_backdrop');
            //     $('#scdl_reset').css('display', 'block');
            //     setTimeout(function () {
            //         $('#scdl_reset').addClass('on') //레이어 오픈 효과 적용
            //     }, 100);
            // }
            // moveMonth();
            //
            // var dateList = [];
            // $('.fc-day.on').each(function () {
            //     dateList.push($(this).attr('data-date'));
            // });
            // 선택 불가 날짜에 ㆍ 넣어줌
            $('.fc-day-disabled > div').append('<div class="fc-daygrid-day-top"><a class="slt_disable">&bull;</a></div>')

            // 날짜 선택 박스 width와 동일한 height 주기
            var dateBoxwidth = $('.fc-daygrid th').width();
            $('.fc-day').height(dateBoxwidth);
        });

        // 날짜 저장 버튼 터치 이벤트
        $('.cont_slt_date .btm_box button').on('touchstart touchend click', function () {
            var dateList = [];
            $('.fc-day.on').each(function () {
                dateList.push($(this).attr('data-date'));
            });
            if (!isChangeDate) {
                return;
            }
            var monthNum = $('.fc-toolbar-month').text();
            if (monthNum < 10) {
                monthNum = "0" + monthNum;
            }
            var yearNum = $('.fc-toolbar-year').text();
            var yearMonth = yearNum + '-' + monthNum;
            $.ajax({
                type: 'POST',
                contentType: "application/json",
                url:'/set_schedule/teacher_date_list',
                data: JSON.stringify({
                    yearMonth: yearMonth,
                    dateList: dateList
                }),
                dataType: 'json',
                async: false,
                cache :false,
                success: function(){
                    savedDateList = dateList;
                    isChangeDate = false;
                    $('.cont_slt_date .btm_box button').removeClass('on');
                },
                error:function(xhr, status, error){
                    console.log('error:'+error);
                }
            });
        });

        // 공통 tap list 열기/닫기
        function handleTapList() {
            var setBtn = $('.set_btn_box li');
            var setCont = $('.set_board > div');

            setCont.hide();
            setCont.eq(0).show();

            setBtn.on('click', function () {
                var target = $(this);
                var index = target.index();
                setBtn.removeClass('on');
                target.addClass('on');
                setCont.css('display', 'none');
                setCont.eq(index).css('display', 'block');
            });
        } handleTapList();

        // 스케줄 활성/비활성 버튼 팝업
        var scdlCheck;
        var rejectCheck;

        $.ajax({
            type: 'POST',
            contentType: "application/json",
            url: '/set_schedule/teacher_schedule_disabled',
            dataType: 'json',
            async: false,
            cache: false,
            success: function (result) {
                if (result.requestYn == 'Y') {
                    rejectCheck = "Y";
                    $("#scd_reject").attr("checked", true);
                } else {
                    rejectCheck = "N";
                    $("#scd_reject").attr("checked", false);
                }
                if (result.scheduleYn == 'Y') {
                    scdlCheck = "Y";
                    $("#scd_disable").attr("checked", true);
                } else {
                    scdlCheck = "N";
                    $("#scd_disable").attr("checked", false);

                }
            },
            error: function (xhr, status, error) {
                console.log('error:' + error);
            }
        })

        $("#scd_reject").on("click", function () {
            if (rejectCheck == "Y") {
                rejectCheck = "N";
            } else {
                rejectCheck = "Y";
            }
            $.ajax({
                type: 'POST',
                contentType: "application/json",
                url:'set_schedule/teacher_reject',
                data: rejectCheck,
                dataType: 'json',
                async: false,
                cache: false
            });
        })

        function scheduleYn(scdlCheck) {
            $.ajax({
                type: 'POST',
                contentType: "application/json",
                url:'set_schedule/teacher_scheduleYn',
                data: scdlCheck,
                dataType: 'json',
                async: false,
                cache: false
            });
        }

        $('.btn_scdl_disable label').click(function () {

            $('body').addClass('lyr_backdrop');
            var resultAlert;

            $.ajax({
                type: 'POST',
                contentType: "application/json",
                url:'/set_schedule/teacher_schedule',
                dataType: 'json',
                async: false,
                cache :false,
                success: function(result){
                    console.log(result)
                    resultAlert = result;
                }
            });

            if (scdlCheck == "N") {
                if (resultAlert) {
                    $('#scdl_disable').css('display', 'block');
                    setTimeout(function () {
                        $('#scdl_disable').addClass('on') //레이어 오픈 효과 적용
                    }, 100);
                    scdlCheck = "Y";
                } else {
                    $('#scdl_disable_ipsb').css('display', 'block');
                    setTimeout(function () {
                        $("#scdl_disable_ipsb").addClass("on");
                    }, 100);
                    scdlCheck = "N";
                }
            } else {
                $('#scdl_activate').css('display', 'block');
                setTimeout(function () {
                    $('#scdl_activate').addClass('on') //레이어 오픈 효과 적용
                }, 100);
                scdlCheck = "N";
            }
            scheduleYn(scdlCheck);
            if (scdlCheck == "N") {
                $("#scd_disable").prop("checked", true);
            } else {
                $("#scd_disable").attr("checked", true);
            }
        });

        function closeLayer() {
            $('.alert_pop').removeClass('on');
            setTimeout(function () {
                $('.alert_pop').css('display', 'none');
                $('body').removeClass('lyr_backdrop');
            }, 100);
        }
        // 레이어 닫기버튼 클릭
        $('.scdl_lyr_close').on('click', function () {
            closeLayer();
        });

        $(".activate_confirm").on("click", function () {
            location.reload();
        })

    });
    /*]]>*/
</script>
</th:block>
</body>
</html>
