<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="thymeleaf/layout/default">
<head>
  <title>방문관리</title>
</head>

<body layout:fragment="content">
  <div id="wrap">

    <!-- m_container -->
    <div id="m_container">
      <div>
        <h2 class="page_title">방문관리</h2>
        <ul class="set_btn_box">
          <li th:class="${applyList != null}? 'on'"><a th:href="@{/management/apply}">신청된 방문</a></li>
          <li th:class="${matchedList != null}? 'on'"><a th:href="@{/management/matched}">진행중 방문</a></li>
          <li th:class="${completedList != null}? 'on'"><a th:href="@{/management/completed}">완료된 방문</a></li>
        </ul>

        <!-- set_board -->
        <div class="set_board">
          <!-- 신청된 방문 card_list -->
          <div class="card_list" th:style="${applyList == null}? 'display: none;'">
            <div class="card" th:each="apply : ${applyList}">
              <!-- card_info -->
              <div class="card_info">
                <span class="requested_time" th:text="${apply.applyDate}"></span>
                <div class="status_box">
                  <span class="in_progress">매칭진행중</span>
                </div>
              </div>
              <!-- //card_info -->

              <!-- profile -->
              <div class="profile">
                <div>
                  <th:block th:switch="${apply.scheduleDto.visitType}">
                    <span class="visit_type onetime" th:case="${T(ai.maum.aics.daekyo.ud.web.controller.type.VisitType).ONETIME}">1회</span>
                    <span class="visit_type regular" th:case="${T(ai.maum.aics.daekyo.ud.web.controller.type.VisitType).REGULAR}">정기</span>
                  </th:block>
                  <span class="name" th:text="${apply.scheduleDto.child.name}"></span>
                  
                  <div class="other">
                    <span>&lpar;</span><span class="birth" th:text="${apply.scheduleDto.child.birthYear}"></span><span>년생 /</span>
                    <span class="gender" th:text="${apply.scheduleDto.child.genderType.korean}"></span><span>&rpar;</span>
                  </div>
                </div>

                <div>
                  <span class="visit_time">
                    <th:block th:text="${apply.startDate}"/><th:block th:if="${apply.scheduleDto.visitType == T(ai.maum.aics.daekyo.ud.web.controller.type.VisitType).REGULAR}">~<th:block th:text="${apply.endDate}"/>
                      매주
                    </th:block>
                    &lpar;<th:block th:text="${apply.scheduleDto.dateTime.dayType.korean}"/>&rpar;
                    <th:block th:text="${apply.scheduleDto.dateTime.startTime}"/>~<th:block th:text="${apply.scheduleDto.dateTime.endTime}"/>
                    <span>&lpar;<th:block th:text="${apply.scheduleDto.dateTime.classTime}"/>시간&rpar;</span>
                  </span>
                </div>

                <div class="full_address">
                  <span class="address" th:text="${apply.scheduleDto.address.main}"></span>
                  <span class="street_address card_on_show" th:text="${apply.scheduleDto.address.detail}"></span>
                </div>

                <div class="detail_info card_on_show">
                  <em class="title">선호 활동</em>
                  <div class="detail">
                    <span th:each="activity : ${apply.scheduleDto.child.activityList}" th:text="'#' + ${activity}"></span>
                  </div>
                  <em class="title">아이 성향</em>
                  <div class="detail">
                    <span th:each="type : ${apply.scheduleDto.child.typeList}" th:text="'#' + ${type}"></span>
                  </div>
                  <em class="title">선생님 전달사항</em>
                  <div class="detail">
                    <span class="notice_to" th:if="${apply.scheduleDto.attention == null}">
                      <em>요청하신 내용이 없습니다.</em>
                    </span>
                    <span class="notice_to" th:unless="${apply.scheduleDto.attention == null}" th:text="${apply.scheduleDto.attention}"></span>
                  </div>
                </div>

                <div class="flex_box btn_box card_on_hidden">
                  <div><button type="button" class="btn_card_open bg_effect btn_line_primary">신청 내용</button></div>
                  <!-- 추가 AMR 200910 신청된 방문에서는 책장보기가 비활성화 된다 -->
                  <div><a href="bookshelf_view.html" class="bg_effect btn_line_primary" disabled>책장보기</a></div>
                  <div><a href="#accept_visit" class="alert_open bg_effect btn_line_secondary open_accept_visit" th:data-apply="${apply.id}" th:data="${apply.serviceId}">신청 수락</a></div>
                </div>

                <button type="button" class="card_on_show btn_line_cancel bg_effect btn_card_close">닫기</button>

              </div>
              <!-- //profile -->

            </div>
            <!-- //card -->
          </div>
          <!-- //신청된 방문 card_list -->

          <!-- 진행중 방문 card_list -->
          <div class="card_list" th:style="${matchedList == null}? 'display: none;'">
            <!-- card -->
            <div class="card" th:each="matched : ${matchedList}">
              <!-- card_info -->
              <div class="card_info">
                <div class="status_box">
                  <th:block th:switch="${matched.noShowType}">
                    <span class="no_show_progress"
                          th:case="${T(ai.maum.aics.daekyo.ud.web.controller.type.NoShowType).IN_PROGRESS}"
                    >노쇼 처리중</span>
                    <a href="#register_noshow" class="no_show alert_open open_register_noshow"
                       th:case="${T(ai.maum.aics.daekyo.ud.web.controller.type.NoShowType).OPEN}"
                       th:schedule-id="${matched.scheduleDto.id}"
                    >노-쇼등록</a>
                    <a href="#teacher_cancel" class="visit_cancel alert_open open_register_cancel"
                       th:case="${T(ai.maum.aics.daekyo.ud.web.controller.type.NoShowType).CLOSE}"
                       th:schedule-id="${matched.scheduleDto.id}"
                    >방문취소</a>
                  </th:block>
                  <th:block th:switch="${matched.scheduleDto.scheduleType}">
                    <span class="complete"
                          th:case="${T(ai.maum.aics.daekyo.ud.web.controller.type.ScheduleType).MATCHED}"
                    >매칭완료</span>
                    <span class="scheduled"
                          th:case="${T(ai.maum.aics.daekyo.ud.web.controller.type.ScheduleType).SCHEDULED}"
                    >방문예정</span>
                    <span class="visiting"
                          th:case="${T(ai.maum.aics.daekyo.ud.web.controller.type.ScheduleType).VISIT}"
                    >방문중</span>
                  </th:block>
                </div>
              </div>
              <!-- //card_info -->

              <!-- profile -->
              <div class="profile">
                <div>
                  <th:block th:switch="${matched.scheduleDto.visitType}">
                    <span class="visit_type onetime" th:case="${T(ai.maum.aics.daekyo.ud.web.controller.type.VisitType).ONETIME}">1회</span>
                    <span class="visit_type regular" th:case="${T(ai.maum.aics.daekyo.ud.web.controller.type.VisitType).REGULAR}">정기</span>
                  </th:block>
                  <span class="name" th:text="${matched.scheduleDto.child.name}"></span>

                  <div class="other">
                    <span>&lpar;</span><span class="birth" th:text="${matched.scheduleDto.child.birthYear}"></span><span>년생 /</span>
                    <span class="gender" th:text="${matched.scheduleDto.child.genderType.korean}"></span><span>&rpar;</span>
                  </div>
                </div>

                <div>
                  <span class="visit_time">
                    <th:block th:text="${matched.scheduleDto.date}"/>
                    &lpar;<th:block th:text="${matched.scheduleDto.dateTime.dayType.korean}"/>&rpar;
                    <th:block th:text="${matched.scheduleDto.dateTime.startTime}"/>~<th:block th:text="${matched.scheduleDto.dateTime.endTime}"/>
                    <span>&lpar;<th:block th:text="${matched.scheduleDto.dateTime.classTime}"/>시간&rpar;</span>
                  </span>
                </div>

                <div class="full_address">
                  <span class="address" th:text="${matched.scheduleDto.address.main}"></span>
                  <span class="street_address card_on_show" th:text="${matched.scheduleDto.address.detail}"></span>
                </div>

                <!-- [D] 진행중 방문, 완료된 방문 카드에서 .tel 이 노출됩니다. -->
                <span class="tel card_on_show" th:text="${matched.scheduleDto.child.parentPhone}"></span>

                <div class="detail_info card_on_show">
                  <em class="title">선호 활동</em>
                  <div class="detail">
                    <span th:each="activity : ${matched.scheduleDto.child.activityList}" th:text="'#' + ${activity}"></span>
                  </div>
                  <em class="title">아이 성향</em>
                  <div class="detail">
                    <span th:each="type : ${matched.scheduleDto.child.typeList}" th:text="'#' + ${type}"></span>
                  </div>
                  <em class="title">선생님 전달사항</em>
                  <div class="detail">
                    <span class="notice_to" th:if="${matched.scheduleDto.attention == null}">
                      <em>요청하신 내용이 없습니다.</em>
                    </span>
                    <span class="notice_to" th:unless="${matched.scheduleDto.attention == null}" th:text="${matched.scheduleDto.attention}"></span>
                  </div>
                </div>

                <!-- [D] 진행중 방문, 완료된 방문 카드에서 .check_info 가 노출됩니다. -->
                <div class="check_info card_on_show">
                  <em class="t_warning">※꼭 확인해주세요!</em>
                  <span>
                    <em>방문 시작 시간 기준 24시간 이내 취소</em>할 경우,<br>
                    <em>1만 원의 취소 수수료</em>가 발생합니다.
                  </span>
                </div>

                <div class="flex_box btn_box card_on_hidden">
                  <div><button type="button" class="btn_card_open bg_effect btn_line_primary">신청 내용</button></div>
                  <div><a th:href="@{/book_shelf/view/{scheduleId}(scheduleId=${matched.scheduleDto.id})}" class="bg_effect btn_line_primary">책장보기</a></div>
                  <div>
                    <a href="#change_date_time" class="bg_effect alert_open btn_line_primary open_change_date_time"
                       th:disabled="${matched.scheduleDto.isChange or !#strings.equals(matched.scheduleDto.scheduleType, 'MATCHED')}"
                       th:schedule-id="${matched.scheduleDto.id}"
                       th:child-name="${matched.scheduleDto.child.name}"
                       th:class-time="${matched.scheduleDto.dateTime.classTime}"
                       th:data="${matched.scheduleDto.scheduleType}"
                       th:data-a='${#strings.equals(matched.scheduleDto.scheduleType, "MATCHED")}'
                    >일정 변경</a>
                  </div>
                </div>

                <button type="button" class="card_on_show btn_line_cancel bg_effect btn_card_close">닫기</button>

              </div>
              <!-- //profile -->
            </div>
            <!-- //card -->
          </div>
          <!-- //진행중 방문 card_list -->

          <!-- 완료된 방문 card_list -->
          <div class="card_list" th:style="${completedList == null}? 'display: none;'">
            <div class="card" th:each="completed : ${completedList}">
              <!-- card_info -->
              <div class="card_info">
                <div class="status_box">
                  <th:block th:if="${completed.scheduleDto.scheduleType.toString() == 'CANCEL'}">
                    <button class="visit_canceled">방문취소</button>
                  </th:block>
                  <th:block th:unless="${completed.scheduleDto.scheduleType.toString() == 'CANCEL'}">
                    <button type="button" class="visit_complete confirm_visit"
                            th:schedule-id="${completed.scheduleDto.id}"
                            th:disabled="${completed.scheduleDto.scheduleType == T(ai.maum.aics.daekyo.ud.web.controller.type.ScheduleType).COMPLETED}"
                    >방문완료</button>
                    <a href="#teacher_review" class="visit_note alert_open open_teacher_review"
                       th:schedule-id="${completed.scheduleDto.id}"
                       th:disabled="${!completed.visitLogActive} ? disabled">방문일지</a>
                  </th:block>
                </div>
              </div>
              <!-- //card_info -->

              <!-- profile -->
              <div class="profile">
                <div>
                  <th:block th:switch="${completed.scheduleDto.visitType}">
                    <span class="visit_type onetime" th:case="${T(ai.maum.aics.daekyo.ud.web.controller.type.VisitType).ONETIME}">1회</span>
                    <span class="visit_type regular" th:case="${T(ai.maum.aics.daekyo.ud.web.controller.type.VisitType).REGULAR}">정기</span>
                  </th:block>
                  <span class="name" th:text="${completed.scheduleDto.child.name}"></span>

                  <div class="other">
                    <span>&lpar;</span><span class="birth" th:text="${completed.scheduleDto.child.birthYear}"></span><span>년생 /</span>
                    <span class="gender" th:text="${completed.scheduleDto.child.genderType.korean}"></span><span>&rpar;</span>
                  </div>
                </div>

                <div>
                  <span class="visit_time">
                    <th:block th:text="${completed.scheduleDto.date}"/>
                    &lpar;<th:block th:text="${completed.scheduleDto.dateTime.dayType.korean}"/>&rpar;
                    <th:block th:text="${completed.scheduleDto.dateTime.startTime}"/>~<th:block th:text="${completed.scheduleDto.dateTime.endTime}"/>
                    <span>&lpar;<th:block th:text="${completed.scheduleDto.dateTime.classTime}"/>시간&rpar;</span>
                  </span>
                </div>

                <div class="full_address">
                  <span class="address" th:text="${completed.scheduleDto.address.main}"></span>
                  <span class="street_address card_on_show" th:text="${completed.scheduleDto.address.detail}"></span>
                </div>

                <div class="detail_info card_on_show">
                  <em class="title">선호 활동</em>
                  <div class="detail">
                    <span th:each="activity : ${completed.scheduleDto.child.activityList}" th:text="'#' + ${activity}"></span>
                  </div>
                  <em class="title">아이 성향</em>
                  <div class="detail">
                    <span th:each="type : ${completed.scheduleDto.child.typeList}" th:text="'#' + ${type}"></span>
                  </div>
                  <em class="title">선생님 전달사항</em>
                  <div class="detail">
                    <span class="notice_to" th:if="${completed.scheduleDto.attention == null}">
                      <em>요청하신 내용이 없습니다.</em>
                    </span>
                    <span class="notice_to"
                          th:unless="${completed.scheduleDto.attention == null}"
                          th:text="${completed.scheduleDto.attention}"></span>
                  </div>
                </div>

                <div class="flex_box btn_box card_on_hidden">
                  <div><button type="button" class="btn_card_open bg_effect btn_line_primary">신청 내용</button></div>
                  <div><a th:href="@{/book_shelf/view/{scheduleId}(scheduleId=${completed.scheduleDto.id})}" class="bg_effect btn_line_primary"
                          th:disabled="${!completed.bookShelfActive}">책장보기</a></div>
                  <div><a th:href="@{/book_shelf/view/{scheduleId}(scheduleId=${completed.scheduleDto.id})}" class="bg_effect btn_line_primary"
                          th:disabled="${!completed.bookAfterActive}">독후활동</a></div>
                </div>

                <button type="button" class="card_on_show btn_line_cancel bg_effect btn_card_close">닫기</button>
                <dl class="user_review" th:if="${completed.review != null}">
                  <dt>부모님 리뷰</dt>
                  <dd th:text="${completed.review}"></dd>
                </dl>

              </div>
              <!-- //profile -->

            </div>
            <!-- //card -->
          </div>
          <!-- //완료된 방문 card_list -->
        </div>
        <!-- //set_board -->
      </div>
    </div>
    <!-- //m_container -->
  </div>
  <!-- //wrap -->

  <!-- layer alert -->
  <!-- 노쇼등록 -->
  <div id="register_noshow" class="alert_box alert_pop">
    <div class="lyr_cont">
      <div class="title_box">
        <span class="title">노쇼를 등록합니다.</span>
      </div>

      <div class="cont_box">
        <span class="cont_desc">예약된 일정에 지정된 장소를 방문하였으나 <br>아이와 만나지 못하셨나요?<br>확인을 누르시면 관리자가 확인 후 연락드리겠습니다.</span>
      </div>
    </div>

    <div class="lyr_btm">
      <div class="dual_box">
        <div>
          <button type="button" class="alert_close">취소</button>
        </div>
        <div>
          <button type="button" class="alert_close" id="confirm_register_noshow">확인</button>
        </div>
      </div>
    </div>
  </div>
  <!-- //노쇼등록 -->

  <!-- 일정변경 -->
  <!-- [D] #no_name 다음 형제로 .calendar_box 가 있어야 합니다. -->
  <div id="change_date_time" class="alert_box alert_pop">
    <div class="lyr_cont">
      <div class="title_box">
        <span class="title">일정을 변경합니다.</span>
      </div>

      <div class="cont_box">
        <div class="input_area">
          <span class="input_title">날짜 선택</span>
          <div class="input_box_icon">
            <input type="hidden" id="schedule_id">
            <input type="text" name="date_pick" id="schedule_date" readonly>
          </div>
  
          <span class="input_title">시간 선택
          </span>
          <div class="input_box_icon ico_clock flex_box">
            <select name="modify_time_start" id="start_time_idx">
              <option value="--" disabled>00:00</option>
              <option th:each="timeBlock : ${timeBlockList}" th:value="${timeBlock.id}" th:text="${timeBlock.startTime}" th:end-time="${timeBlock.endTime}"></option>
            </select>
            <span class="primary_text_xs connect">~</span>
            <span name="modify_time_end" id="modify_time_end">00:00</span>
          </div>
        </div>

        <span class="lesson_time primary_text_s"><em id="child_name"></em>아이의 방문 시간은 <em id="class_time"></em>입니다.</span>

        <p class="t_warning primary_text_s" id="change_schedule_warning" style="text-align: center">
          변경을 원하는 일정에<br>
          <em>매칭 완료 및 활동(예정) 중인 방문</em>이 있습니다.
          방문 시간표를 확인해주세요!
        </p>

        <p class="t_warning primary_text_s" id="change_schedule_warning_child" style="text-align: center">
          변경을 원하는 일정에<br>
          <em>매칭 완료 및 활동(예정) 중인 방문</em>이 있습니다.<br>
          <em id="child_name_e"></em> 아이와 일정을 다시 확인해주세요!
        </p>
      </div>
    </div>

    <div class="lyr_btm">
      <div class="dual_box">
        <div>
          <button type="button" class="alert_close">취소</button>
        </div>
        <div>
          <button type="button" class="alert_close" id="change_schedule">적용</button>
        </div>
      </div>
    </div>
  </div>
  <div id="change_date">
    <div id="calendar"></div>
  </div>
  <!-- //일정변경 -->

  <!-- 방문일지 -->
  <div id="teacher_review" class="alert_box alert_pop">
    <div class="lyr_cont">
      <div class="title_box">
        <span class="title">방문일지를 작성하세요.</span>
      </div>

      <div class="content">
        <span class="primary_text_xs">
          <em>[작성예시]</em>
          오늘 다은이와 책으로 탑을 쌓으며 책놀이를 진행했습니다. 내가 살고 싶은 집의 모양을 상상하며 책을 쌓았는데, 다은이는 5층까지 높이 쌓았습니다.</span>
        <textarea name="" id="teacher_review_content" cols="30" rows="6" placeholder="공백을 포함하여 최소 200자이상 작성해주세요."></textarea>
      </div>
    </div>

    <div class="lyr_btm">
      <button type="button" class="alert_close" id="confirm_teacher_review">등록</button>
    </div>
  </div>
  <!-- //방문일지 -->
  <div id="teacher_cancel" class="alert_box alert_pop">
    <div class="lyr_cont">
      <div class="title_box">
        <span class="title">방문 취소 사유를<br>구체적으로 입력해주세요.</span>
      </div>

      <div class="cont_box">
        <textarea name="" id="teacher_cancel_content" cols="10" rows="5" placeholder="ex) 교통사고로 병원에 입원중입니다."></textarea>
        <p class="primary_text_s">
          ※ 선생님의 개인 사정으로 방문을 취소하시는 경우, <em>취소 시점에 따라 위약금이 발생</em>될 수 있습니다.
        </p>
        <p class="primary_text_s">
          ※ 정당한 사유 없이 진행 중인 방문을 <em>2회 이상 취소한 경우, 우동 선생님 활동이 제한</em>될 수 있습니다.<br>
          (단, 갑작스러운 사고나 질병으로 인한 피치 못할 사유가 있는 경우 7일 이내 내용 증빙 시, 예외로 합니다.)
        </p>
      </div>
    </div>

    <div class="lyr_btm">
      <button type="button" class="alert_close" id="confirm_teacher_cancel">확인</button>
    </div>
  </div>
  <!-- 추가 201006 신청수락 성공 레이어 -->
  <div id="accept_visit" class="alert_box alert_pop">
    <div class="lyr_cont">
      <div class="title_box">
        <span class="title">신청을 수락합니다.</span>
      </div>

      <div class="cont_box">
        <span class="cont_desc">신청된 방문 중 현재 신청 수락한 수업과 겹치는 시간대의 수업은 모두 매칭이 취소됩니다.</span>
      </div>
    </div>

    <div class="lyr_btm">
      <div class="dual_box">
        <div>
          <button type="button" class="alert_close">취소</button>
        </div>
        <div>
          <input id="apply_id" type="hidden" value="">
          <input id="service_id" type="hidden" value="">
          <button type="button" id="confirm_accept_visit">확인</button>
        </div>
      </div>
    </div>
  </div>
  <!-- //신청수락 성공 레이어 -->

  <!-- 추가 201006 신청수락 실패 레이어 -->
  <div id="fail_accept_visit" class="alert_box alert_pop">
    <div class="lyr_cont">
      <div class="title_box">
        <span class="title">다른 수업을 선택해주세요.</span>
      </div>

      <div class="cont_box">
        <span class="cont_desc">해당 수업은 먼저 신청 수락한 우동 선생님과 매칭되었습니다. 다른 수업을 선택해주세요.</span>
      </div>
    </div>

    <div class="lyr_btm">
      <button type="button" class="alert_close" id="confirm_fail">확인</button>
    </div>
  </div>
  <!-- //신청수락 실패 레이어 -->
  <!-- //layer alert -->
<th:block layout:fragment="script">

<script type="text/javascript">
  /*<![CDATA[*/
  $(document).ready(function(){

    buttonColor = setInterval(function () {
      if ($("#teacher_review_content").val().length > 200) {
        $("#confirm_teacher_review").prop("disabled", false);
        $("#confirm_teacher_review").css("background", "#e60462");
        $("#confirm_teacher_review").css("cursor", "Pointer");
      } else {
        $("#confirm_teacher_review").prop("disabled", true);
        $("#confirm_teacher_review").attr("disabled","disabled");
        $("#confirm_teacher_review").removeAttr("button");
        $("#confirm_teacher_review").css("background", "#c9d0d8");
        $("#confirm_teacher_review").css("cursor", "Default");
      }
    }, 1000)


    $('.open_accept_visit').on('click', function(e){
      var applyId = $(this).attr('data-apply');
      $('#apply_id').val(applyId);
      var serviceId = $(this).attr('data');
      $('#service_id').val(serviceId);
    });
    var targetSchedule = {
      'classTime': null
    };
    $('.open_change_date_time').on('click', function(e){
      var scheduleId = $(this).attr('schedule-id');
      $('#schedule_id').val(scheduleId);
      var childName = $(this).attr('child-name');
      $('#child_name').html(childName);
      var classTime = $(this).attr('class-time');
      $('#class_time').html(classTime + '시간');

      targetSchedule.classTime = classTime;
      var optionSize = $('#start_time_idx option').length;
      $('#start_time_idx option').each(function(){
        var timeIdx = $(this).val();
        if (timeIdx <= optionSize - 2 * classTime) {
          $(this).attr('disabled', false);
        } else {
          $(this).attr('disabled', true);
        }
      });
      $('#schedule_date').val('');
      $('#start_time_idx').val('--');
      $('#modify_time_end').html('00:00');
      $('#change_schedule_warning').removeClass('on');
      $('#change_schedule_warning_child').removeClass('on');
    });
    $('#start_time_idx').on('change', function(e){
      var startTimeIdx = $(this).val();
      var endTimeIdx = Number(startTimeIdx) + Number(targetSchedule.classTime) * 2 - 1;
      var endTime = $('#start_time_idx option[value=' + endTimeIdx + ']').attr('end-time');
      if (endTime === undefined) {
        $('#start_time_idx').val('--');
        $('#modify_time_end').html('00:00');
      } else {
        $('#modify_time_end').html(endTime);
      }

    });
    $('#confirm_fail').on('click', function(e){
      location.reload();
    });
    $('#confirm_accept_visit').on('click', function(e){
      $.ajax({
        type: 'POST',
        contentType: "application/json",
        url:'/management/apply',
        data: JSON.stringify({
          'applyId': $('#apply_id').val(),
          'serviceId': $('#service_id').val(),
        }),
        dataType: 'json',
        async: false,
        cache :false,
        success: function(data){
          if (data === true) {
            location.reload();
          } else {
            $('#accept_visit').removeClass('on');
            setTimeout(function(){
              $('#accept_visit').css({'display': 'none'});
              $('#fail_accept_visit').css({'display': 'block'});
              setTimeout(function(){
                $('#fail_accept_visit').addClass('on'); //레이어 오픈 효과 적용
              }, 100);
            }, 200);
          }
        },
        error:function(xhr, status, error){
          console.log('error:'+error);
        }
      });
    });

    function const_enum(name, value) {
      let parent = typeof window !== 'undefined' ? window : self;
      if (typeof parent[name] === 'undefined') {
        let _value = {};
        value.map(x => _value[x] = x);
        Object.defineProperty(parent, name, { value: _value, writable: false, configurable: false, enumerable: true });
        Object.freeze(_value);
      }
    }

    const_enum('RES', ['NONE','CHILD','TEACHER'])

    $('#change_schedule').on('click', function(e){
      $('#change_schedule_warning').removeClass('on');
      $('#change_schedule_warning_child').removeClass('on');
      var scheduleDate = $('#schedule_date').val();
      var startTimeIdx = $('#start_time_idx').val();
      if (scheduleDate === '' || startTimeIdx === '--') {
        e.stopImmediatePropagation();
        return;
      }

      $.ajax({
        type: 'POST',
        contentType: "application/json",
        url:'/management/change_schedule',
        data: JSON.stringify({
          'scheduleId': $('#schedule_id').val(),
          'scheduleDate': scheduleDate,
          'startTimeIdx': startTimeIdx
        }),
        dataType: 'json',
        async: false,
        cache :false,
        success: function(data){
            console.log(data);
          switch (data) {
            case RES.NONE :
              location.reload();
              break;
            case RES.CHILD :
              e.stopImmediatePropagation();
              $('#change_schedule_warning_child').addClass('on');
              $("#child_name_e").html($("#child_name").html());
              console.log($("#child_name").html())
              break;
            case RES.TEACHER :
              e.stopImmediatePropagation();
              $('#change_schedule_warning').addClass('on');
              break;
          }
        },
        error:function(xhr, status, error){
          console.log('error:'+error);
        }
      });
    });
    $('.open_register_noshow').on('click', function(e){
      var scheduleId = $(this).attr('schedule-id');
      $('#schedule_id').val(scheduleId);
    });
    $('#confirm_register_noshow').on('click', function(e){
      $.ajax({
        type: 'POST',
        contentType: "application/json",
        url:'/management/no_show',
        data: $('#schedule_id').val(),
        dataType: 'json',
        async: false,
        cache :false,
        success: function(data){
          if (data === true) {
            location.reload();
          }
        },
        error:function(xhr, status, error){
          console.log('error:'+error);
        }
      });
    });
    $('.confirm_visit').on('click', function(e){
      var scheduleId = $(this).attr('schedule-id');
      $.ajax({
        type: 'POST',
        contentType: "application/json",
        url:'/management/confirm_visit',
        data: scheduleId,
        dataType: 'json',
        async: false,
        cache :false,
        success: function(data){
          location.reload();
        },
        error:function(xhr, status, error){
          console.log('error:'+error);
        }
      });
    });
    $('.open_teacher_review').on('click', function(e){
      var scheduleId = $(this).attr('schedule-id');
      $('#schedule_id').val(scheduleId);
    });
    $('#confirm_teacher_review').on('click', function(e){

      var content = $('#teacher_review_content').val();
      if (content.length < 200) {
        return;
      }
      $.ajax({
        type: 'POST',
        contentType: "application/json",
        url:'/management/write_visit_log',
        data: JSON.stringify({
          'scheduleId': $('#schedule_id').val(),
          'content': content
        }),
        dataType: 'json',
        async: false,
        cache :false,
        success: function(data){
          location.reload();
        },
        error:function(xhr, status, error){
          console.log('error:'+error);
        }
      });
    });

    $('.open_register_cancel').on('click', function(e){
      var scheduleId = $(this).attr('schedule-id');
      $('#schedule_id').val(scheduleId);
    });
    $('#confirm_teacher_cancel').on('click', function(e){

      var content = $('#teacher_cancel_content').val();

      $.ajax({
        type: 'POST',
        contentType: "application/json",
        url:'/management/teacher_cancel',
        data: JSON.stringify({
          'scheduleId': $('#schedule_id').val(),
          'content': content
        }),
        dataType: 'json',
        async: false,
        cache :false,
        success: function(flag){
          if (flag) {
            location.reload();
          } else {
            console.log("실패")
          }
        },
        error:function(xhr, status, error){
          console.log('error:'+error);
        }
      });
    });

    // 공통 200810 AMR 얼럿 레이어 열기/닫기
    $('.alert_open').on('click', function(e){
      var thisHref = $(this).attr('href');

      e.stopPropagation();

      $('body').addClass('lyr_backdrop'); //body에 백그라운드 적용
      $(thisHref).css({'display': 'block'}); //클릭한 a의 href와 동일한 레이어만 block

      setTimeout(function(){
        $(thisHref).addClass('on') //레이어 오픈 효과 적용
      }, 100);
    });

    // 공통 얼럿 레이어 닫기
    // 레이어 닫기버튼 클릭
    $('.alert_close').on('click', function(){
      $('.alert_box').removeClass('on');

      setTimeout(function(){
        $('body').removeClass('lyr_backdrop');
        $('.alert_box').css({'display': 'none'});
      }, 200);
    });

    // 공통 AMR 200810 bg_effect를 가진 button과 a가 active되면 background 디자인 적용
    $('button.bg_effect, a.bg_effect').on('touchstart touchend', function () {
      $(this).toggleClass('on');
    });

    // FullCalendar
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      initialDate: new Date(),
      contentHeight: 'auto',
      showNonCurrentDates: true,
      views: {
        dayGridMonth: {
          titleFormat: {
            year: 'numeric',
            month: 'numeric'
          },
        },
      },
      validRange: {
        start: moment().add("1", "d").format("YYYY-MM-DD"),
        end: moment().add("93", "d").format("YYYY-MM-DD"),
      }
    });

    var str = calendar.formatDate('2018-09-01', {
      month: 'numeric',
      year: 'numeric',
      day: 'numeric'
    });
    calendar.render();

    // NBR 요일 한글로 출력 (Fullcalendar 옵션으로 lang'ko'를 주니 일자도 모두 바뀌어 html 직접 바꿔줌)
    function weekListKo() {
      // 일요일
      var weekSun = $('.fc-day-sun .fc-col-header-cell-cushion');
      weekSunKo = weekSun.text().replace('Sun', '일');
      weekSun.html(weekSunKo);

      // 월요일
      var weekMon = $('.fc-day-mon .fc-col-header-cell-cushion');
      weekMonKo = weekMon.text().replace('Mon', '월');
      weekMon.html(weekMonKo);

      // 화요일
      var weekTue = $('.fc-day-tue .fc-col-header-cell-cushion');
      weekTueKo = weekTue.text().replace('Tue', '화');
      weekTue.html(weekTueKo);

      // 수요일
      var weekWed = $('.fc-day-wed .fc-col-header-cell-cushion');
      weekWedKo = weekWed.text().replace('Wed', '수');
      weekWed.html(weekWedKo);

      // 목요일
      var weekThu = $('.fc-day-thu .fc-col-header-cell-cushion');
      weekThuKo = weekThu.text().replace('Thu', '목');
      weekThu.html(weekThuKo);

      // 금요일
      var weekFri = $('.fc-day-fri .fc-col-header-cell-cushion');
      weekFriKo = weekFri.text().replace('Fri', '금');
      weekFri.html(weekFriKo);

      // 토요일
      var weekSat = $('.fc-day-sat .fc-col-header-cell-cushion');
      weekSatKo = weekSat.text().replace('Sat', '토');
      weekSat.html(weekSatKo);
    } weekListKo();

    // AMR fullcalendar 이벤트
    function handleFullCalendarVisitManagement() {
      // AMR 달력 선택 일자 활성화 / 중복 클릭 안됌
      $('#change_date').on('click', '.fc-day', function () {
        $('#change_date .fc-day').removeClass('on')
        $(this).addClass('on')
      });

      // AMR fullcalendar td 정사각형으로 height 주기
      var calendarWidth = $('#change_date').width();
      var calendarHeight = calendarWidth - 36;
      $('#change_date .fc-scrollgrid-sync-table').height(calendarHeight);
    }
    handleFullCalendarVisitManagement();

    // 날짜선택 input[type="text"]를 클릭하면 fullcalendar open
    $('input[name="date_pick"]').on('focus', function () {
      $(this).blur();
      $('#change_date').css({ 'display': 'block' });
    });

    // fullcalendar에서 날짜를 선택하면 해당 날짜가 input[type="text"]에 입력
    $('#change_date .fc-scrollgrid-sync-table').on('click', '.fc-day', function(){
      var pickDate = $(this).attr('data-date')
      $('input[name="date_pick"]').val(pickDate);
      $('#change_date').css({'display': 'none'});
    });

    // AMR 200805 visit card 열기/닫기
    $('.btn_card_open').on('click', function () {

      var $this = $(this);
      $this.parents('.card').addClass('on on_effect');
      setTimeout(function(){
        $this.parents('.card').removeClass('on_effect');
      },500)
    });
    $('.btn_card_close').on('click', function () {
      var $this = $(this);
      $this.parents('.card').addClass('on_effect').removeClass('on');
      $this.parents('.card').removeClass('on');
      setTimeout(function(){
        $this.parents('.card').removeClass('on_effect');
      },600)
    });

  })
  /*]]>*/
</script>
</th:block>
</body>
</html>