<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="thymeleaf/layout/default">
<head>
  <title>방문시간표</title>
</head>

<body>
<div id="wrap" layout:fragment="content">

  <!-- m_container -->
  <div id="m_container">
    <div class="visit_table">
      <h2 class="page_title">방문시간표</h2>
      <div class="notice">
        <div class="notice_bg">
          <span class="notice_text">시간표를 좌우로 밀어 방문 일정을 확인해보세요!</span>
        </div>
      </div>

      <!-- time_schedule -->
      <div class="time_schedule">
        <!-- time_list 왼쪽에 고정된 시간입니다 -->
        <div class="time_list">
          <ul>
            <li class="title_month" th:text="${visitTimetable.monthList[0]+'월'}"></li>
            <li th:each="time : ${visitTimetable.timeList}" th:text="${time}"></li>
          </ul>
        </div>
        <!-- //time_list -->

        <!-- schedule 오른쪽 table 입니다 -->
        <div class="schedule">
          <div class="schedule_box">
            <!-- [D]
              오늘부터 D+92일까지 (총 93일)이 표시됩니다
              스케줄은 3일 단위로 보여집니다

              ul 하나 : 하루
              li.time_available : 선생님이 수업가능한 시간
            -->
            <ul th:each="date : ${visitTimetable.dateList}">
              <li class="title_date" th:classappend="${date.dayType.cls}">
                <span class="day" th:text="${date.day}"></span>
                <span class="dayweek" th:text="${date.dayType.korean}"></span>
              </li>
              <li></li>
              <li th:each="timeBlock : ${date.timeBlockList}"
                  th:class="${timeBlock.available}? 'time_available'"
                  th:classappend="${timeBlock.visit}? ${timeBlock.visit.visitType.cls}"
              >
                <th:block th:if="${timeBlock.visit}">
                  <div class="student_info" th:style="'height:' + ${timeBlock.visit.height} + 'px;'">
                    <span th:utext="${timeBlock.visit.name}"></span>
                  </div>
                </th:block>
              </li>
              <li></li>
            </ul>
          </div>
        </div>
        <!-- //schedule -->
      </div>
      <!-- //time_schedule -->

      <!-- 추가 AMR 200827 -->
      <button id="go_today" type="button">오늘</button>
    </div>
  </div>
  <!-- //m_container -->
</div>

<th:block layout:fragment="script">
<script type="text/javascript">
  $(document).ready(function(){
    // AMR 방문시간표 swipe event
    function timeTableSwipe() {
      // 축약어 Wt = width , 한 페이지에 3일씩 보여집니다
      var visibleBoxWt = $('.schedule').innerWidth(); // 한 페이지 가로길이
      var targetWt = visibleBoxWt / 3; // 하루 가로길이
      var days = $('.schedule_box ul').length; // 총 일 수 구함
      var page = 0;
      var pages = days / 3; // 총 페이지 수 구함
      var maxPage = pages - 1; // 총 페이지 인덱스 구함
      var totalWt = visibleBoxWt * pages; // 총 페이지 가로길이
      var monthList = [[${visitTimetable.monthList}]];

      $('.schedule_box').css({ 'width': totalWt + 'px' })
      $('.schedule_box ul').css({ 'width': targetWt + 'px' })

      // 방문시간표 테이블에서의 터치이벤트
      $('.schedule_box').on('touchstart', function (e) {
        var startX = e.originalEvent.touches[0].clientX;
        var startY = e.originalEvent.touches[0].clientY;
        var dragX = 0;
        var dragY = 0;
        var positionX = $(this).position().left;
        var direction = '';

        $(document).on('touchmove', timeTableTouchMove);
        $(document).on('touchend', timeTableTouchEnd);

        // touch move e
        function timeTableTouchMove(e) {
          dragX = e.originalEvent.touches[0].clientX - startX;
          dragY = e.originalEvent.touches[0].clientY - startY;

          $('body').addClass('prevent_scroll')
          if (direction == '') {
            if (Math.abs(dragX) > Math.abs(dragY)) direction = 'horizontal';
            if (Math.abs(dragY) > Math.abs(dragX)) direction = 'vertical';
          }

          if (direction === 'horizontal') {
            dragY = 0
            $('.schedule_box').css({
              'transition': 'none',
              'transform': 'translateX(' + (positionX + dragX) + 'px)'
            });
          }
          if (direction === 'vertical') {
            dragX = 0
            $('body').removeClass('prevent_scroll')
          }
        }

        // touch end e
        function timeTableTouchEnd(e) {
          if (direction == 'horizontal') {
            var directionOffset = dragX < -20 ? page += 1 : dragX > 20 ? page += -1 : page += 0;

            if (page < 0) {
              page = 0;
            } else if (page > maxPage) {
              page = maxPage;
            }

            var move = (-page * visibleBoxWt)
            $('.schedule_box').css({
              'transition': 'transform .1s',
              'transform': 'translateX(' + move + 'px)'
            });
            var month = monthList[page];
            $('.title_month').html(month+"월");
            $('body').removeClass('prevent_scroll')
          }

          $(document).off('touchmove', timeTableTouchMove);
          $(document).off('touchend', timeTableTouchEnd);
        }

        // 추가 AMR 200827 오늘 날짜로 돌아가기
        $('#go_today').on('click', function(){
          $('.schedule_box').css({'transform': 'translateX(' + 0 + 'px)'});
          page = 0;
          var month = monthList[page];
          $('.title_month').html(month+"월");
        });
      });
    }
    timeTableSwipe();
  })
</script>
</th:block>
</body>
</html>